[2022-01-26 15:49] RubenVerborgh opened #1 "Chat app that handles different document layouts"
## Pitch
- Mashlib currently has a [short chat](https://drive.verborgh.org/public/2022/short-chat/) and a [long chat](https://drive.verborgh.org/public/2022/long-chat/) which are stored in different ways: short chats store all messages [in one single document](https://drive.verborgh.org/public/2022/short-chat/index.ttl), whereas long chats [create one document per day](https://drive.verborgh.org/p

[2022-01-28 14:03] RubenVerborgh opened #2 "Solve the calendar problem once and for all"
## Pitch
What if we never had to use Doodle again?

## Desired solution
- We currently have [Knoodle](https://knoodle.knows.idlab.ugent.be/), which computes an agenda match in-browser
- Let's ensure that every part of the code functions in every part of the network (server / client / middleware)
- Let's make it supereasy to connect to existing calendars and create derived calendars
  - Can we defi

[2022-02-08 17:19] RubenVerborgh opened #4 "Greet the user with their preferred name"
## Pitch
- Users like to be **addressed by their preferred name** within apps.
  - This is a name that they are known as, or use for themselves.
- In some cultures, this is the first name.
  - It could also be a user-chosen name or nickname.
- Other cultures do not have the concept of a first name, so another strategy is needed.

## Desired solution
- Encode the rules for arriving at the preferred

[2022-02-08 17:20] RubenVerborgh opened #5 "The user logs in and is greeted using their name"
## Actors/actresses
- User of the application

## Preconditions
- The user has launched the application.
- The user is not yet logged in.

## Steps
- The user clicks on the "Log in" button.
- The user is redirected to the login page of their Solid pod.
- The user logs in with username/password.
- The user is redirected to the original application.
- The user is greeted using their preferred name.

[2022-02-10 13:31] rubensworks opened #7 "Create a Solid-based to do application"
## Pitch

Many applications exist that offer to do list management, but all (most?) of them are hard-coupled to an internal data storage mechanism.
The goal of this challenge is to create a simple to do application using Solid technology where the actual to do's are stored within Solid vaults, so that you are in full control of your own to do's.

## Desired solution

A Web application to manage to

[2022-02-10 13:50] rubensworks opened #8 "Change a user's name"
## Pitch

This challenge is related to #4, but focuses on the ability to _modify_ your name(s).

## Desired solution

- This solution should understand that different kinds of names might exist (#4), and each of these should be modifyable.
- The solution should keep track of the location at which the name was discovered (data can be spready over different places), so that it is modified in that ex

[2022-02-10 14:13] rubensworks opened #9 "Find people you may know"
## Pitch

Based on the people listed in my profile, I want to find other people I _may_ know, based on the people my contacts know.

## Desired solution

- An algorithm for detecting "people you may know", ordered by relevance
  - The algorithm should recursively find people other people know by following links between documents, where each recursion should produce "people you may know" with a low

[2022-02-11 11:35] pietercolpaert opened #10 "Store, manage, share and query location (history) data"
## Pitch

Your location and its history is a valuable source of information for applications to offer you a more contextual user experience.

You could for example
 - share your current location (temporarily) with a friend without sending it to a different server
 - annotate your location history with the mode of transport you were using at that time, to analyse after a certain period your mobilit

[2022-02-21 09:43] rubensworks opened #12 "Analysis of security vulnerabilities when querying over Solid pods"
## Pitch

Since data in Solid can be spread across many locations, query engines must be able to traverse over these locations and collect data within them. Since decentralized environments are potentially unsafe due to their non-centrally controlled nature, there is a need for query engines to be resistant against security threats aimed at the query engine’s host machine or the query initiator’s

[2022-02-21 12:08] phochste opened #13 "Long term server-side authenticated sessions"
## Pitch

Current Solid authentication libraries are mainly targeted to browser clients where _human agents_ need to be identified and authenticated against a choosen OIDC provider. E.g. the prefered OIDC provider can be set in the _WebID profile_ of an agent.
The Solid OIDC identification/authentication process results  after some back and forth communication in _id_token/access_token_ that typic

[2022-02-21 14:27] pbonte opened #14 "Decentralised Reasoning with large knowledge bases"
## Pitch

Users can have links to large knowledge bases within their pod. However, when performing querying under a certain entailment regime, i.e. with reasoning enabled, the whole large knowledge base might need to be inspected.

For example:
- A pod can contain links to DBPedia, for example `:me foaf:knows <https://dbpedia.org/page/Tim_Berners-Lee>`
- In our ontology we might define knowledge a

[2022-02-21 14:32] rubensworks commented on #14
Also cc'ing @jeswr so he's aware of this.

[2022-02-21 15:12] pbonte opened #15 "Alignment for pods using different schemas"
## Pitch

As we cannot enforce one specific schema in a decentralised environment, Solid apps will often encounter pods with data stored according to different schemas. These schemas need to be aligned automatically, such that app developers do not need to worry about these details.

For example:
- In the decentralised chat application, pods could store their chat history using [Activity streams](

[2022-02-21 15:14] pbonte commented on #15
Tagging @jeswr so he's aware of this as well.

[2022-02-21 16:47] pbonte opened #16 "Aggregated view on sensitive personal health data streams"
## Pitch

Providing insights in patients vitality data for homecare organisations requires to aggregate sensitive personal health data produced by personal vitality sensors and activity trackers. As pod contain sensitive data, special measures need to be taken even when providing aggregations on top of this sensitive data.

## Desired solution

An Aggregator that can handle both data streams and s

[2022-02-21 21:26] jeswr commented on #15
Also to give a timeline on my Honours work - my thesis is due at the end of May so I'll need to have a reasonable amount of the work I mentioned I'd be doing done by then.

[2022-02-22 09:04] phochste commented on #13
hey @laurensdeb

This is indeed exactly in line with what is required for our use-cases. I don't know the details of the [OAuth 2.0 Token Exchange specification](https://datatracker.ietf.org/doc/html/rfc8693), but it seems that it should be for any client not much more processing than reading JSON and setting HTPP headers?

What I am interested in is the minimal infrastructure requirements for ser

[2022-02-23 08:00] RubenVerborgh commented on #14
@pbonte Thanks for submitting this one!

Quick question—the intro says:

However, from the way it is phrased to me, it is not clear whether the inspection of the whole knowledge base is a _given_ or an _issue_ to be fixed, and if so, if the amount of data being transferred (or the total time?) is a quality attribute. Could you adjust the description to clarify this? Thanks!

[2022-02-23 08:03] RubenVerborgh commented on #14
@pbonte Also, can we apply this (currently generic) challenge to a specific use case, such that the demo becomes a very specific and concrete target to reach? We could either adjust the current challenge text, or create a new issue that is basically an applied version of this bigger challenge, and link back to here?

[2022-02-23 08:05] RubenVerborgh commented on #15
@pbonte Thanks! Can we apply this (currently generic) challenge to a specific use case, such that the demo becomes a very specific and concrete target to reach? For instance, by picking the first example as the case? That would align with #1.

We could either adjust the current challenge text, or create a new issue that is basically an applied version of this bigger challenge, and link back to her

[2022-02-23 10:02] jeswr commented on #14
I'm planning on creating a small (perhaps dummy) demo app to show the principle of my honours work as part of a mid-term presentation I have to give next week (Tuesday 1/3/22) - so happy to *try* and align this with a relevant use case here if I can.

A tentative plan (off the top of my head) was to do some kind of inference to materalize facts about diseases individuals may be predisposed to - wi

[2022-02-25 15:34] pietercolpaert commented on #4
I wonder whether we also have to consider language negotiation here, depending on whether you’re e.g., browsing a page in Chinese or in English?

[2022-02-25 22:36] RubenVerborgh commented on #4
Absolutely. But perhaps we should have language as a separate challenge, and tie the two together later.

[2022-02-28 11:32] s-minoo opened #17 "Alignment of I/O interfaces and data types for data processing workflow"
## Pitch
Current data processing components have different configurations for the same I/O type (websockets, http, etc..). Furthermore,
the representation of the data types is also different across the different processing components.
A generic I/O interface and data types, independent from the different languages,
would enable a strong foundation to a more modular
data processing workflow archite

[2022-02-28 17:49] doerthe commented on #15
Some input here:
https://paul.ti.rw.fau.de/~ec69etyl/2022/dkg-22/DKG-22_paper_7.pdf
https://docs.google.com/presentation/d/1Ve5VCx7pG3kTOo8d2GNEJ9N0c8lCI7SCvE_dbsx8NlE/edit?usp=sharing

Note that we implemented a small example: http://ppr.cs.dal.ca:3002/n3/editor/s/CjUiEimP

[2022-03-05 10:26] pietercolpaert opened #18 "Change storage provider"
## Actors/actresses

Two solid storage providers and an end-user

## Preconditions

One storage provider stores nothing yet, another provider stores already quite some resources for an end-user.

## Steps

 1. The end-user indicate it wants to change storage providers
 2. All data is copied towards the new storage provider
 3. All references are updated to the new URLs
 4. Data with the old storag

[2022-03-07 12:21] pietercolpaert commented on #1
A sub-challenge I’m interested in: _when_ would a Solid app choose to:
 1. write everything in one big file,
 2. write everything in separate files but in the same container,
 3. write everything in X items per page?

Hypothesis: when using HTTP/2, the difference between 2 and 3 should be negligible.

[2022-03-07 12:25] RubenVerborgh commented on #1
Hopefully the _app_ would never choose, as it should interact with a knowledge graph, not an interface. (But we're not there yet.)

[2022-03-09 04:56] jeswr commented on #14
Something else that could be exploited when reasoning against such databases is that they usually already have some form of reasoning applied to them. @pbonte do you know if there is any research so far into making use of this fact so as to reduce the amount of reasoning that needs to be done on the application side.

In the context of the work that I am doing with Comunica for my honours - I was

[2022-03-09 08:18] pbonte commented on #14
This would indeed be very interesting and allow one to save a lot of computational efforts, however, I think it's risky to make the assumption that (decentralized) knowledge bases would maintain up to date metadata about their materialisation status. I can imagine that not all knowledge bases would incrementally update their materialisation when some new facts are added, thus requiring the metadat

[2022-03-09 08:21] RubenVerborgh commented on #14
Yes, but also see it the other way: we are in the position to make recommendations and specs.

So your IF can be enforced if that's a recommendation we can argue 😃

[2022-03-09 09:34] jeswr commented on #14
One step may be to create a document that defines the relationships between various rule languages, and respectively the relationships between rule sets that can be defined within those languages. The former being more useful from a technical perspective to achieve things like https://github.com/comunica/comunica-feature-reasoning/issues/22 whilst the latter can be used to inform whether the remot

[2022-03-10 09:54] phochste opened #19 "Solid basic form builder (Google Forms but the Solid way)"
## Pitch

A user would like to have a basic form handling backed by a Solid server. The Solid Forms application  provides a tools to:

### Create a form XYZ

- Create basic forms with choice of these ingredients:
      -  Form name +  title + description
      -  Input field (with name and value and flag required or not)
      -  Text field (with name and value and flag required or not)
      -  S

[2022-03-11 10:30] bjdmeest commented on #17
_Rephrasing this a bit, to make the link more explicit, and removing the data type parts because that could be a next step_

## Pitch
Streaming (RDF) data can be accessed through various different interfaces (websockets, http, etc..), whilst
current data processing frameworks (e.g. Apache Flink, NiFi, Spark, ...) have different configurations for the same interface.
With a generic I/O interface th

[2022-03-11 12:21] bjdmeest commented on #9
considering the last acceptance criteria, doesn't this depend on #15 then?

[2022-03-11 12:31] rubensworks commented on #9
Yes, that specific criterion would depend on #15 indeed.

[2022-03-11 12:34] pheyvaer commented on #2
Another pointer: [Solid Calendar Store](https://github.com/KNowledgeOnWebScale/solid-calendar-store/) allows publishing aggregate/transformed calendars based on existing ICS feeds. This works directly with CSS.

[2022-03-12 20:43] RubenVerborgh commented on #17
This is a good technical challenge!

In the context of this repository, we try to be pin things to a specific use case, such that there can be a specific demonstrator. (See for instance #1.)

Are there use cases available that would be a good match, and can we apply them?

[2022-03-12 20:56] RubenVerborgh commented on #19
Sounds great; can we perhaps apply this to one or more use cases, such that we have an acceptance criterion for how complex the form should be?

-----

Regarding existing work, note that https://github.com/solid/solid-ui contains a [form system](https://solid.github.io/solid-ui/Documentation/forms-intro.html) (there is a weak reference to it in [my aforementioned shapes blog post](https://ruben.ve

[2022-03-18 12:08] jeswr commented on #19
In work I've done in the past (but unfortunately had to put on the backburner while I finished off my honours), I was working on a SHACL form editor which was close to handling the full SHACL specification before other priorities got in the way

https://github.com/schimatos/shacl-form-react

For a *very* old version of this tool see
https://github.com/schimatos/schimatos

I was also starting to cr

[2022-03-21 21:50] danielbeeke commented on #19
Hi all,

I am also very interested in this.
I think there are very exciting ideas in all the mentioned form tools.

- Schimatos validation of data with SHACL
- Typescript support for developers would be awesome
- The form generator from the form UI ontology is also a great idea
- rdf-form has custom widgets types so that a developer can add their own widget
- automatic generation of forms by SHACL

[2022-03-22 10:57] danielbeeke commented on #19
Below is a screenshot of rdf-form in our testing website hence all the lorem ipsum.

Things on the screenshot:

- references to other things in the CMS (clicking on it navigates to the edit page of those)
- layouts of forms
- sub forms (the access control and the references form are re-usable parts.)

![Screenshot from 2022-03-22 11-52-08](https://user-images.githubusercontent.com/684215/159465939

[2022-03-22 13:11] phochste commented on #19
@danielbeeke that looks great. I'll work on some use-cases . But this looks exactly like the form generation I had in mind

[2022-03-24 13:15] phochste commented on #19
See also https://libstore.ugent.be/fulltxt/RUG01/003/008/246/RUG01-003008246_2021_0001_AC.pdf and https://gitlab.ilabt.imec.be/data-validation/schimatos-authorization

[2022-03-24 13:35] phochste commented on #19
@jeswr  @danielbeeke  would you be interested to find in the comming weeks some timeslot to discuss what the state of the art is with these tools and to see what would be possible?

[2022-03-24 13:52] jeswr commented on #19
@phochste - for sure; if you pick any time between 5pm-12pm AEDT I should be free to attend :)

What is this? Is there a way for me (as a non-IDlab member) to view it?

Haven't read the full thing yet - but I would highlight that this is based on a *very* old version of the tool (which I wrote at the end of the first year of my degree; whilst learning JS and React at the same time) - that is to sa

[2022-03-25 09:11] danielbeeke commented on #19
@phochste yes me also. Great! I am quite flexible regarding time. All the timeslots @jeswr named are fine for me. My email is mail@danielbeeke.nl

[2022-03-28 09:28] pietercolpaert commented on #18
@dexagod is doing relevant work: can you elaborate on that one?

[2022-03-28 09:30] pietercolpaert commented on #1
Further thoughts: since mainly the Solid auth workflow is per resource, even HTTP/2 would be too slow, so we will try to find a way to bring multiple small resources together into one (“virtual containers”)

[2022-03-29 08:37] Falx opened #20 "Make full use of available hardware resources when running the Community Solid Server (multithreading)"
## Pitch

When deploying or hosting the Community Solid Server (CSS) you want to be able to use all available hardware resources. Right now the CSS is running in a single threaded matter. With current CPUs consisting of multiple cores, the CSS could use those extra cores to be able to handle more load, or handle requests while executing a longer running task on another core.

## Desired solution

[2022-03-29 12:51] josd opened #21 "Solid reasoning proof checking"
The Solid reasoning answers can be trusted via an independ proof checker.

## Actors/actresses
A proof generator and an independent proof checker.

## Preconditions
Solid reasoning data, rules and query availabe on the web.

## Steps
- Get the Solid reasoning data, rules and query
- Generate the proof with the the proof generator
- Check the proof with the independent proof checker
- Generate a re

[2022-03-29 22:39] josd opened #22 "Solid dialogical reasoning"
Exercise a query answer loop between a web browser and a web reasoner.

## Actors/actresses
A web browser and a web reasoner.

## Preconditions
The web reasoner is running with appropriate background knowledge in multi query mode via a websocket.

## Steps
- send the uri of the query whereby the triples in the background knowledge can be `consumed and produced as resources`
- get the answer
- repe

[2022-03-29 22:49] josd commented on #22
This is also a possible scenario for a streaming reasoning use case.

[2022-04-01 08:27] wvdemeer opened #23 "Automatically test the performance of each CSS commit"
## Pitch

Changes to CSS can have an impact on the memory, CPU and even bandwidth usage of the CSS.
It would be nice to know this impact for each commit to the CSS repo, in order to spot performance impact as soon as possible.

## Desired solution

For each commit to the CSS repo, a [github push webhook](https://docs.github.com/en/developers/webhooks-and-events/webhooks) will notify a solidlab ser

[2022-04-01 09:09] Dexagod commented on #18
## What
We created a [toolset for Solid on the CLI and Node.js](https://github.com/MellonScholarlyCommunication/css-suite
), mainly focused and tested for the [Community Solid Server](https://github.com/CommunitySolidServer/CommunitySolidServer).

## How
It provides a set of functions that mimick the linux commands for managing files/resources.
Relevant here is the **copy** function. It is availab

[2022-04-01 22:26] josd commented on #22
There is a working test scenario at https://github.com/eyereasoner/eye/tree/multiquery/reasoning/dialogical-reasoning

[2022-04-01 22:28] josd commented on #21
There is a working test scenario at https://github.com/josd/eye/tree/master/reasoning/socrates and another one at https://github.com/josd/eye/tree/master/reasoning/witch

[2022-04-07 05:29] jeswr commented on #23
Related discussion for upstream packages https://github.com/RubenVerborgh/AsyncIterator/issues/62 - could possibly be implemented simultaneously?

[2022-04-07 08:37] phochste commented on #19
As discussed by @danielbeeke it would be great to have form generation and storage of RDF / nonRDF not tightly coupled to Solid but available as a storage plugin. E.g. using Comunica to figure out how and where to store the data.

There are implementation and research challenges still in these types of applications. Certainly regarding how the handling of RDF and nonRDF can be both be handled in f

[2022-04-08 08:12] pbonte opened #24 "Aggregators to improve data access across many pods, a social media perspective"
## Pitch
Applications that require to aggregate data across many pods can be faced with slow response times due to the latency of data retrieval and processing of the large number of pods. This is typically the case in a social media scenario, where the timelines of their users are curated based on the activities of their contacts. Computing these timelines when the users access their social media

[2022-04-08 08:14] pbonte opened #25 "Local aggregations to improve data access on singe pod, a mobility application perspective"
## Pitch
Public transport providers, such as de Lijn, are interested in an overview of the most used bus stops.
As each user can log their location traces, these apps can issue time-consuming queries to the user pods in order to aggregate the location traces and count the users that hopped on or of at each bus stop. However, evaluating these queries is time-consuming as the whole location trace ne

[2022-04-09 06:24] phochste commented on #19
CLEF https://polifonia-project.github.io/clef/ is a server side application (with a SPARQL backeend) that creates these types of forms and interface for crowd sourcing applications.

[2022-04-11 08:47] MisterTimn opened #26 "Add object store backend to further enable scalable cloud deployments"
## Pitch
Object storage is a go to storage backend in many cloud based use cases. Cloud providers such as AWS and GKE offer scalable and affordable object storage options. CSS should have an optional Object Storage backend so cloud deployments are made easy and effective. Also with regard to scalability, Object storage has an upper hand compared to other storage forms like file or block.

## Desir

[2022-04-15 10:42] Dexagod commented on #18
I still have an additional comment here:

Point 3: All references are updated to the new URLs
-> does this mean that every resource should be forwarded?
Because this seems like something that is a hell to maintain: e.g. you move / delete resources in their new location.

Would it make sense to only forward the root, so that discovery of resources is still maintained through the pod root?

In this

[2022-04-15 10:45] rubensworks commented on #18
Because this seems like something that is a hell to maintain: e.g. you move / delete resources in their new location.

I would say yes, _all_ resources should be redirected.
Could be achieved via some kind of `moved.meta` file, which could act similar to a UNIX softlink.

But this should not be guaranteed anymore IMO once another resources is placed over that location.

[2022-04-19 14:55] Dexagod commented on #1
Has there been any update on new ontologies or something for chats in Solid?
Have these interactions been specified anywhere, which predicates are expected where?

[2022-04-19 15:29] pietercolpaert opened #27 "Creating resources derived from the knowledge graph using Event Sourcing and CQRS patterns"
## Pitch

An authoritative write resource can have multiple Knowledge Graphs views on top of it. Describing -- and executing -- workflows on top of these authoritative resources creating such derived views (cfr. the architectural event sourcing pattern or CQRS pattern) can be the glue between seeing a Solid pod as a file-based system vs. a knowledge graph.

Examples of Knowledge Graph resources:

[2022-04-19 18:29] RubenVerborgh opened #28 "Disambiguate multiple WebIDs for the same person"
(placeholder, adding details later)

## Pitch

## Desired solution

## Acceptance criteria

## Pointers

## Scenarios

[2022-04-20 14:19] CopChristophe commented on #19
Last year, we developed a small demo survey app.
If interesting enough, I can share the code.

Here is the background info and the link to the demo applications.

https://www.konsolidate.eu/stories/building-a-survey-application-with-personal-data-vaults-solid-project
https://survey-creator.demo.konsolidate.eu/
https://survey-app.demo.konsolidate.eu/

[2022-04-20 15:55] josd commented on #21
This is deductive reasoning as explained in https://www.w3.org/DesignIssues/Semantic.html

[2022-04-21 05:16] phochste commented on #19
@CopChristophe Yes that survey app is the type of workflow we had in mind:

-  Form Builder app (1) that is a creator of a form description
-  Form Viewer app (2) that is a viewer of the form and can store results in a Solid Pod
-  The response itself has provenance information about the form and generation

What we miss is that the form description is not in a standard vocabulary. When e.g. SHACL

[2022-04-21 06:07] jeswr opened #29 "SDK with server mocking"
## Pitch
When developers create apps - they don't want the additional overhead of
1) Dealing with network problems, or changes to experimental servers *while* they are developing
2) Having to go through the login step every time they want to re-load their app for testing

## Desired solution
Something similar to the `create-react-app` experience in that I can

1) Run `npx create-solid-app` and hav

[2022-04-21 06:10] jeswr opened #30 "Tracking and 'Managing' the SOLID ecosystem"
I mentioned this idea in a meeting with @phochste a little while ago.

## Pitch

The goal here is for the SOLID project to 'eat its own dogfood' by having an app/interface in which users can can see which developer tooling & apps exist within the ecosystem.

Long term - I would envision this to be an 'app store' for SOLID apps _and_ a _wiki_ for developer tooling/sdks.

Concretely:
 - There exists

[2022-04-22 08:23] rubensworks opened #31 "Build a Solid Voice Assistance (Solexa?)"
## Pitch

Several voice assistents like Alexa, Siri, Google Assistance, etc, already exist.
These voice assistants help us to discover information (_e.g. will it rain today_), and to give tasks (_e.g. turn the lights off_).
All (most?) of these voice assistants are based on centralised technologies, and act as a black-box.
The goal of this challenge is to build a decentralised voice assistant usin

[2022-05-03 07:37] phochste commented on #19
Here is a proof of concept of a browser based Form Viewer (2) app that can used @danielbeeke rdf-form and a published form to store data in a Solid pod. https://github.com/phochste/FormViewer

[2022-05-03 12:24] rubensworks commented on #7
Related work: https://github.com/Julian-Cole/solid-task-app

[2022-05-05 05:20] phochste opened #32 "Range support for HTTP range and the TB challange"
## Pitch

Research groups would like to use Solid for research data repositories. The resources they make available for download can be binary or RDF data and have sizes in the ranges of 100 GB - TBs. It should be possible to download parts of data resources and download resources over slow networks. Currently:

- Solid protocols support range requests (but it is not mandatory to implement)
- CSS

[2022-05-05 13:49] RubenVerborgh commented on #32
NSS implementation:

https://github.com/nodeSolidServer/node-solid-server/blob/1295a319b5dc6989e2219c82b14761c1ec33b766/lib/ldp.js#L488-L499

https://github.com/nodeSolidServer/node-solid-server/blob/1295a319b5dc6989e2219c82b14761c1ec33b766/lib/handlers/get.js#L109

[2022-05-06 02:03] jeswr opened #33 "Wordpress for the SOLID (a drag n' drop app builder)"
## Pitch
Allow users, with no programming experience, to build their own SOLID apps using a GUI.

## Desired solution

TODO

## Acceptance criteria
Users with *no prior experience* of *SOLID* or *programming* should be able to create their own applications using a GUI.

  - Have _cross platform support_ (i.e. browser, desktop, mobile apps)

## Pointers
 IMO this should be:
  - Backed by [Component

[2022-05-06 07:42] pietercolpaert commented on #27
Through the concept of streams and processors, we’re working on a way to describe derived resources in the SDS specification: https://treecg.github.io/SmartDataStreams-Spec/

[2022-05-10 08:20] Falx opened #34 "Add timeseries store backend to better support IoT use cases"
## Pitch

IoT is and still remains an important topic on the internet. It is typically related to high frequency timeseries data. It would thus be interesting to have a backend solution that is tailored to storing timeseries data. When picking the appropriate backend solutions for this, some important optimizations can be performed because of how timeseries are typically structured.

## Desired so

[2022-05-10 11:13] pietercolpaert commented on #34
This is very related to #27 I believe

[2022-05-12 14:36] pheyvaer commented on #28
Does this challenge also cover when people change WebID? WebID A is superseded by WebID B. WebID A is never updated anymore (might go down after a while) and everything should use WebID B.

[2022-05-12 14:39] RubenVerborgh commented on #28
Absolutely, thanks. Text coming really soon.

[2022-05-12 18:04] Sindhu-Vasireddy commented on #10
https://github.com/Sindhu-Vasireddy/LocationHistory

[2022-05-23 10:42] jeswr commented on #34
For what it's worth, I believe that such an implementation should be able to *viewed* and edited as if it were an RDF (or RDF* depending on the data you are storing?) document using some kind of wrapper  - whilst also maintaining existing API access of the chosen backend for performance.

This means that one can still execute a SPARQL/SPARQL* query over the data from something like Comunica ([once

[2022-05-23 11:42] pietercolpaert commented on #34
:+1: @jeswr - I think the most difficult about this issue is
 1. Defining the hypermedia so that Comunica can automatically find this index and use it when it’s available, but other indexes may be good alternatives and apps should keep working even if there is no timeseries-based back-end
 2. Keeping all indexes in-sync: do we work with eventual consistency, or will we lock reading from derived vi

[2022-05-23 11:57] jeswr opened #35 "POD Agents (Github Actions for PODs)"
This is a placeholder - I will write it up in full soon. I've made a few notes for my own reference at https://gist.github.com/jeswr/7f28fb2bdab4408e8d861254e7e639d2.

Please also let me know if this is replicating something that is already being worked on.

## Pitch

If there is a file `./agents.(ttl|rdf|xml|...)` located in the ROOT of a users POD then the provider must negotiate with agents (th

[2022-05-23 14:18] bjdmeest opened #36 "Log in via many and multiple identity providers"
## Pitch

Looking at the current identity providers at, e.g. the Flemish government, there's an abundance of options: ItsMe, via eID, ...
How does the Solid paradigm align with the current landscape?
What is needed to provide the same level of trust by the user, or even better: can we make the experience seamless? How? Is something missing in the Solid protocols?

## Desired solution

- Security t

[2022-05-23 14:28] bjdmeest opened #37 "Consent envelopes in Solid"
## Pitch

Consent flows in Solid are currently underdeveloped: it's not fully clear how authorized data processing stays in line the with the given permissions, i.e., is trustworthy.

- I want to share my shoe size with all shoe shops
- I want to share my blood pressure with all my doctors

## Desired solution

- Defining and executing consent flows in a Solid ecosystem

## Acceptance criteria

-

[2022-05-23 15:58] pheyvaer commented on #14
@pbonte Why does the acceptance criteria mention the need for a UI to show that there is a link with for example DBpedia? Isn't it enough to show that a resource in the pod refers to DBpedia? For example, by inspecting that resource?

[2022-05-23 16:14] bjdmeest commented on #17
https://en.wikipedia.org/wiki/Foreign_function_interface , I updated the description

[2022-05-24 07:24] pbonte commented on #14
@pheyvaer because the goal of the challenges is to have a number of demonstrators. Its just a way to show the content, nothing fancy

[2022-05-24 07:43] pheyvaer commented on #14
Make sense! Maybe we could put that as a separate challenge? Have a UI that shows data with links to external data sources?

[2022-05-24 07:58] pbonte commented on #14
Good idea! Maybe even something more generic, showing some visualisation of the pod content that can be reused across demos? (both internal as external data) I think it might also be useful to have some tooling to show the partitioning of the data across pods, so we can show that each user keeps ownership of their own data.

[2022-05-24 08:24] pheyvaer commented on #14
Sounds good! Do you want to put it in a separate issue/challenge?

[2022-05-24 08:33] pbonte commented on #14
Not sure if it counts as a challenge (as these are described as: `A concrete technical problem applied to a specific use case`)?

[2022-05-24 09:15] pheyvaer commented on #20
@Falx Considering that https://github.com/CommunitySolidServer/CommunitySolidServer/issues/322 is closed, what still need to happen for this challenge to be completed?

[2022-05-24 09:44] pheyvaer commented on #24
In the Solid Calendar Store there is a [store](https://github.com/KNowledgeOnWebScale/solid-calendar-store/blob/master/src/pre-generate-store.ts) that allows to pre-generate the representation of a store. This is done to reduce the response time when an agent request a calendar, because sometimes this might take up to 30 seconds if multiple calendars are combined. This might be a pointer or serve

[2022-05-24 10:57] pheyvaer commented on #25
For a demo to be implemented, do you have data that can be used for this?

[2022-05-24 11:03] josd commented on #22
https://translate.google.com/?hl=en&sl=auto&tl=nl&text=Repeat%20till%20all%20the%20queries%20are%20posed&op=translate

[2022-05-24 11:08] pheyvaer commented on #22
If I understand correctly all queries are given at the start and it's not that new queries are discovered at runtime?

[2022-05-24 11:17] josd commented on #22
Well, this has to be clarified: at this moment it is a (in)finite series of fixed queries but we can also involve additional reasoning to generate queries like is done in https://github.com/josd/eye/tree/master/reasoning/qgen

[2022-05-25 05:15] phochste commented on #35
Hi yes, in our Mellon project "Decentralized Scholarly Communication" we have a requirement an [orchestrator](https://mellonscholarlycommunication.github.io/spec-orchestrator/) component that automates things on pods. One needs to publish a rulebook document somewhere and instruct an orchestrator to execute these rules while watching the pod for triggers (e.g. based on resource changes or human tr

[2022-05-25 05:53] pheyvaer commented on #30
I see two challenges here actually: 1) Discovering apps and 2) discovering developer tools. I think it would make sense to split them up.

[2022-05-26 10:00] Dexagod commented on #35
The way it is phrased here, these tasks (e.g. pulling in social media data) seem to be orchestrated by the pod hosting service / the data pod itself.
The current approach we have to orchestration, is having external agents (e.g. some service on your cellphone, some 3d party service, a script you run on your own server, ...) interact with your pod based on Linked Data Notifications.
We have plans t

[2022-05-26 19:29] RubenVerborgh opened #38 "One-click photo sharing with friends who don't yett have Solid"
## Pitch

## Desired solution

## Acceptance criteria

## Pointers

## Scenarios

[2022-05-26 19:49] RubenVerborgh commented on #4
Recently saw a good example

![Screenshot_20220525-203320](https://user-images.githubusercontent.com/675313/170565982-ece4d5de-edfe-45fc-84a0-0d1ec7c77869.png)

So this, without asking (every time).

[2022-05-31 11:11] pheyvaer opened #39 "Manage pods in CSS through user interface"
## Actors/actresses
- Administrator of one or more CSS instances

## Preconditions
- A machine without any pods running.
- Application with user interface to manage pods installed on the same machine.

## Steps
The following steps can be executed via a user interface.

- Start pod.
- Stop pod.
- Restart pod with updated config.
- Delete pod.
- Monitor CPU/memory/storage usage.

The CSS can be star

[2022-05-31 13:13] Dexagod commented on #1
We can make use of the created frontends for the VOP project here:
https://github.com/SolidLabResearch/SolidChatApp

and use this as a basis to create a backend layer for the challenge

[2022-06-03 11:12] pheyvaer opened #40 "Determine permissions for resource"
## Pitch

- Allow developers to determine whether the logged-in user can read/write/control a resource.

## Desired solution
- This is part of the SDK.
- Functions along the lines of
  - `canWriteToResource(resource)`
  - `canReadResource(resource)`
  - `canControlResource(resource)`

## Acceptance criteria

- I want a JavaScript example.
- The different permissions are listed for resources where

[2022-06-03 16:27] RubenVerborgh commented on #40
https://solidproject.org/TR/wac#wac-allow ?

[2022-06-04 22:26] RubenVerborgh commented on #36
Can we make the list of IDPs specific? Then this challenge is ready to go.

[2022-06-07 14:07] pheyvaer commented on #40
Sweet! This works for me.

[2022-06-07 17:24] #40 closed

[2022-06-09 08:22] rubensworks opened #41 "Listing people you know via inference"
## Pitch

Listing everyone you know in your personal profile can be a cumbersome task.
In some cases, you may be able to automatically determine whether or not you know someone.

For example, people usually always know their direct colleagues, and their famility members.
For these cases, an automated mechanism to infer this knowledge may be desired.

## Desired solution

Users should be able to in

[2022-06-09 08:28] rubensworks opened #42 "Schema.org http/https alignment"
## Pitch

As shown in https://github.com/w3c/sparql-12/issues/156, some websites use the HTTP versions of the Schema.org ontology, while others use the HTTPS version.
Semantically, they indicate the same thing, but since they use a different scheme, they are strictly different in RDF.

## Desired solution

Query engines should have a way to automatically align the HTTP/HTTPS variants of the Schema

[2022-06-09 08:41] pduchesne commented on #42
For the record, there is a related ongoing discussion here : https://github.com/linkeddata/rdflib.js/issues/550

[2022-06-09 14:43] gibsonf1 commented on #34
We (Grapmetrix / TrinPod) handle this by treating each pod as a space-time digtal twin where each pod has its own named graph in which that graph contains all matter changing via events through space-time using an rdf hypergraph (patent pending).  So there is no added thing, all information is in the same rdf graph modeled on how we humans remember changing states through time.

[2022-06-13 06:28] sjoerdvangroning commented on #18
I think it should be important to leave breadcrumbs in order to be able to find data after it has been moved. If we don't do that, links will break just as fast in the current web.

What do you think of the https://github.com/pdsinterop/solid-migrator?

[2022-06-13 07:18] pheyvaer commented on #18
@sjoerdvangroning Why is that? From my understanding the URLs of all resources remain the same.

[2022-06-13 07:34] sjoerdvangroning commented on #18
Maybe we are thinking of a different use case? Can you describe in more detail your use case and how URL can remain the same?

I am thinking of external links to POD/Data and when you change storage provider, the URL will change. (for example when you move your POD from solid.community to solidcommunity.net).

[2022-06-13 07:39] pheyvaer commented on #18
I assumed that the user has control over the whole domain, so they can redirect the domain to the new storage provider. If the domain is tied to the storage provider then you would indeed have issues. I'm also wondering what @pietercolpaert means with step 3 actually.

[2022-06-13 07:45] pietercolpaert commented on #18
In step 3 I was thinking about organizational hypermedia on top of LDP. E.g., if you use AS2 pagination, or shape trees, or TREE/LDES, that you update the link URLs to resources on the new server instead of on the old server, and then having to follow bread crumbs or instead of following a redirect.

I agree with @sjoerdvangroning that breadcrumbs should be provided. A redirect is I believe a spec

[2022-06-13 08:02] sjoerdvangroning commented on #18
We have given this some thought in our migrator project. We created a specification and a working implementation for moving data between storage providers. Being able to move your data is important for the SOLID eco-system. If servers would follow the metadata and give redirects, data can still be found and it could give clients time to update their links (honour a permanent redirect for example a

[2022-06-13 10:23] jeswr opened #43 "Universal Service Description Ontology"
**WARNING** I'm still in the process of fleshing this out

## Pitch

Applications and APIs need a consistent way of advertising their capabilities and how to use them. This is so clients can intelligently interoperate with these services and select the best way of using the service given the capabilities for the client.

For instance, in the [time series](https://github.com/SolidLabResearch/Challe

[2022-06-13 11:57] pietercolpaert commented on #18
I think what you do makes sense!

I also think this is a nice way of having both a server-side solution (e.g., a solid server should be able to redirect based on breadcrumbs like this), and a client-side solution (e.g., a client just interprets the bread crumbs and follows the link when the server doesn’t understand them).

[2022-06-13 14:46] pietercolpaert commented on #38
Is this creating a “anyone with link can see this resource” feature?

[2022-06-13 18:46] RubenVerborgh commented on #38
Maybe not "anyone", to prevent people from re-sharing links.

("Anyone with link" is already possible by creating a public resource in a hidden container.)

[2022-06-14 07:17] RubenVerborgh opened #44 "One-button Solid login via the browser window"
## Pitch

My browser should have a series of buttons that I can press and depress to log in with different WebIDs. My browser remembers my credentials. By default, I'm logged in anonymously. When I press a button, the website gets a signal that I want to log in with this specific WebID (so they IDP selection step can be skipped).

<img width="337" alt="image" src="https://user-images.githubusercon

[2022-06-14 07:36] phochste opened #45 "Browser extension intercepting urls to open notification with a user defined app"
In a decentralized Solid world many applications will provide functionality to do one or more specialised actions, such as browsing files, playing games, creating a Doodle, participating in a Quiz. In this environment users have a preference for apps they want to use to do some tasks:

- When the user wants to browse a pod , she wants to use App X
- When the user wants to play chess she wants to u

[2022-06-14 07:39] phochste commented on #45
Related to https://github.com/SolidLabResearch/Challenges/issues/44

[2022-06-14 07:45] pheyvaer commented on #45
What do the first two steps mean? They are not clear to me.

[2022-06-14 08:00] phochste commented on #45
@pheyvaer I've updates the text. Is it now better?

[2022-06-14 08:26] pheyvaer commented on #45
Yes!

[2022-06-15 13:29] RubenVerborgh commented on #44
This is how Google does it (note that I am in Firefox here, so it is actually reddit.com that does it):

<img width="1048" alt="image" src="https://user-images.githubusercontent.com/675313/173838528-a7a606b0-2668-4f78-b8e2-03af1cfb9016.png">

Of course in an iframe for security reasons:

<img width="1034" alt="image" src="https://user-images.githubusercontent.com/675313/173838979-b95e44a5-b808-441

[2022-06-15 18:20] phochste opened #46 "Solid support for preserving the structure of RDF resources at user request"
## Pitch

Create support so that Solid can be used  to preserve resources with structural guarantees, irrespective if the content is RDF or non-RDF. This is not always the case, when uploading resources that have RDF, they could end up in RDF storage backends (e.g. SPARQL database) that don't keep whitespace, comments, etc ... all things that are not part of the RDF graph are lost.  In some scenar

[2022-06-16 07:46] RubenVerborgh commented on #46
Relevant: https://ruben.verborgh.org/articles/fine-grained-content-negotiation/

[2022-06-16 11:30] s-minoo opened #47 "An orchestrator for ease of workflow management"
This challenge has been split into 3 separate challenges: #50 #51 #52
## Pitch

Undoubtedly, data will flow from pod to pod in the Solid ecosystem. Applications can create ad-hoc solutions to fetch and transfer data from one pod to another, however, interoperable orchestration of those data flows increases scalability of the solution. Think for example of a workflow that extracts Strava data from

[2022-06-17 07:50] NoelDeMartin opened #48 "Performant search"
## Pitch

Searching through a user's data is a common use-case to be found in many apps. For example, if you have a list of TODOs you may want to search some with a specific tag, or including certain words.

One way to solve this is to keep a local copy of the documents and use that for searches (or a local index). This works well in many situations, and actually goes well with an offline-first ap

[2022-06-17 07:57] rubensworks commented on #48
Another pointer here is Comunica's WIP link traversal functionality: https://comunica.dev/research/link_traversal/

This can be part of the solution: https://comunica.github.io/comunica-feature-link-traversal-web-clients/builds/solid-default/#transientDatasources=https%3A%2F%2Fruben.verborgh.org%2Fprofile%2F&query=PREFIX%20rdfs%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0APREFI

[2022-06-17 07:59] pheyvaer commented on #47
Hi @s-minoo

Great idee! Because of the different things that are described here I think that this better described as a scenario and that separate/smaller challenges are extracted from this scenario.

[2022-06-17 08:10] s-minoo commented on #47
Should I then split this into 3 separate challenges?

1. A spec/ontology to describe the workflows used by the orchestrator
2. A spec for the configuration of the processors using the ontology in step 1
3. A CLI orchestrator tool that uses the configurations to execute the pipeline

[2022-06-17 08:15] pheyvaer commented on #47
Yes that would indeed be a good start! We can always refine, adjust, add more challenges as work is done.

[2022-06-20 07:55] laurensdeb commented on #36
@RubenVerborgh: An option would be to use (a) the IdP in the Community Solid Server alongside (b) a traditional OIDC IdP like KeyCloak combined with the open-source Digita ID Proxy for Solid-OIDC support like described [here](https://docs.digita.ai/dgt-id-broker/providers/keycloak.html).

In terms of what we've found to be missing:
- How does one link a new IdP to an existing WebID? The WebID spec

[2022-06-22 08:13] pheyvaer commented on #29
@jeswr Can you make the necessary changes? We want to have a clear challenges within 30 days after they have been created to keep things moving.

[2022-06-22 08:14] pheyvaer commented on #34
@RubenVerborgh What changes do you expect here?

[2022-06-22 08:15] pheyvaer commented on #35
Yes 😅  I mean @RubenVerborgh

[2022-06-22 09:00] pheyvaer commented on #33
@jeswr Can you make the necessary changes? We want to have a clear challenges within 30 days after they have been created to keep things moving.

[2022-06-22 09:00] pheyvaer commented on #27
@RubenVerborgh What changes do you expect here?

[2022-06-22 09:01] pheyvaer commented on #26
@RubenVerborgh What changes do you expect here?

[2022-06-22 09:02] pheyvaer commented on #12
@RubenVerborgh What changes do you expect here?

[2022-06-22 14:42] RubenVerborgh commented on #34
A challenge is a technical problem applied to a concrete use case with as output a demo.
I'm missing the use case and demo parts.

[2022-06-22 14:56] RubenVerborgh commented on #27
A challenge is a technical problem applied to a concrete use case with as output a demo.
I'm missing the use case and demo parts.

[2022-06-23 07:18] rubensworks commented on #12
Updated! Feel free to close if still not suitable.

[2022-06-23 08:57] bjdmeest commented on #36
Honestly, I'm a proxy for this challenge, I don't have full expertise on this. @laurensdeb, could you maybe provide a suggestion to a better description for this challenge (basically join your comment with my initial proposal)?

[2022-06-24 08:26] phochste opened #49 "Orchestrator (autonomous agent) to forward LDN Notifications to the correct LDN Inbox based on N3 rules"
## Pitch

A _Maintainer_ of a (Solid) LDN Inbox would like to see some automated processes happening when particular LDN Notification messages appear in one of her Inboxes or are being sent by the Maintainer. Possible automated processes include:

 - Auto reply to some messages
 - Forward the notification to the LDN Inbox of another autonomous agent
 - Append outgoing messages to an Outbox/Sent co

[2022-06-24 08:28] pietercolpaert commented on #27
Could we maybe add a separate type for an architecture proposal that could be applied in multiple challenges?

I could add a use case and a demo, but then it would basically be #10, but a bit more generically described

[2022-06-24 11:40] phochste commented on #49
Related to https://github.com/SolidLabResearch/Challenges/issues/47

[2022-06-24 11:41] phochste commented on #49
Related to https://github.com/SolidLabResearch/Challenges/issues/35

[2022-06-24 12:16] RubenVerborgh commented on #27
I think it's fine to have #10 actually, or to suggest this as a solution to #10.

One reason we're asking for a specific use case and a demo, is that those are tasks that can be finished.
The technical challenge described above is fundamentally never finished: one can always find new ways to derive resources.

So can you think of the a case that demonstrates the kind of complexity you at least wan

[2022-06-24 12:18] RubenVerborgh commented on #43
Can we apply this to a concrete case? Service description in general is an unfinishable problem 🙂

[2022-06-24 12:20] RubenVerborgh commented on #47
Will need to be applied to a use case, so the task can be finished.

[2022-06-24 12:21] RubenVerborgh commented on #48
Cool, would need to be applied to a use case so we can make it concrete.

[2022-06-24 12:22] RubenVerborgh commented on #49
Do we have a concrete use case to apply this one to?

[2022-06-24 13:02] phochste commented on #49
Added some

[2022-06-25 18:45] phochste commented on #45
The [AcmePlugin](https://github.com/phochste/AcmePlugin) is a new Chrome extension that can be used to add a configurable dynamic context menu to every link, image, page. The context menu can be configured using a template e.g.

[code]

This will open the current URL in context in the [SolidEditor](https://solideditor.patrickhochstenbach.net) app.

Solid Apps that want to have this support need:

[2022-06-25 18:46] phochste commented on #45
![Screenshot 2022-06-25 at 20 46 28](https://user-images.githubusercontent.com/66416/175786643-ea4ef629-386f-4c42-96c3-b4d1df592489.png)

[2022-06-26 06:55] phochste commented on #45
The latest version of AcmePlugin support setting wildcards on which URLs one would like to see a context menu.

[2022-06-27 09:08] ajuvercr opened #50 "Manage workflows to derive/provide data to solid pods"
Data workflow can be configured and executed, providing new or derived data in solid pods.

## Actors/actresses

- Owner (end-user) of the Solid Pod
- 3rd party data provider

## Preconditions

- The user has 3rd party data
- The user wants derived data in their solid pod

## Steps

- The user opens an application to configure a workflow.
- The user links up and configures predefined components in

[2022-06-27 11:29] ajuvercr opened #51 "A spec/ontology to describe the workflows used by the orchestrator"
Create onthology for components in a workflow.

## Pitch
A workflow can only be as powerful as the combined power of its steps.
To not .... the power of a workflow, it is paramount that steps can be implemented in any way, shape or form (different programming languages, one or many machines etc).
To make this possible an architecture (coined connector architecture) was introduced, where each step

[2022-06-27 11:46] ajuvercr opened #52 "Default processors for a workflow"
The existence of default processors is required to bootstrap real world workflow usage.

## Pitch

A workflow following the connector architecture can provide arbitrarily complex behavior, but we have to start somewhere.

A common real world workflow is something like this:
- Some agency provides a kafka channel with json objects denoting changes in some open data.
- A processor uses this data to

[2022-06-27 11:55] RubenVerborgh commented on #51
Can we apply this to a concrete use case, and have a specific demo, such that the challenge has a clear end?

[2022-06-27 11:55] RubenVerborgh commented on #52
Can we apply this to a concrete use case, and have a specific demo, such that the challenge has a clear end?

[2022-06-27 16:56] NoelDeMartin commented on #48
What do I need to specify to make this more concrete? Would it be fine if I provide an example dataset and a use-case for how to search it? (e.g. I could provide a file with N turtle files describing movies and say that they should be searched by name).

The part I'm most hesitant about is the acceptance criteria, I'm not sure how to codify "decent UX" into specific requirements. I could come up w

[2022-06-30 08:59] pheyvaer commented on #2
@RubenVerborgh You were trying thing on your side. What is the status of that?

[2022-07-05 14:40] RubenVerborgh commented on #45
Excellent job, this is great 👍

[2022-07-05 14:40] #45 closed

[2022-07-11 07:08] phochste commented on #19
Had meetings with Daniël Beeke and the Solidos team (Timea Turdean & Jeff Zucker) about possible overlap between the [rdf-form](https://github.com/danielbeeke/rdf-form), [frm](https://github.com/danielbeeke/frm) and [solid-ui](https://github.com/SolidOS/solid-ui) projects. In the month of August we'll have a student joining us on this project.

It would be a great example also for a schema alignme

[2022-07-12 07:31] rubensworks commented on #7
### Status update

Vidya's working on a prototype, and will then focus on ingestion of data.
Jonas will look into collaborative aspects.
Jonni will look into query-based reading.

[2022-07-12 07:32] rubensworks commented on #31
### Status update

An initial meeting with @Sindhu-Vasireddy is being planned.

[2022-07-12 08:16] j-steinbach commented on #7
@pheyvaer can you assign me to this project? And probably Jonni as well (assumption).

[2022-07-14 01:12] jeswr opened #53 "Privacy aware reasoning (theory)"
TODO: This is a placeholder

The overall motivation of this challenge is to develop theory around materlialization-style reasoning across public and private data with various privacy restrictions.

The goal would be to give fast access to many different views on implicit data based based on a description of the explicit data a user has access to.

## Pitch

## Desired solution

## Acceptance crite

[2022-07-14 01:15] jeswr opened #54 "Indexing on Non-Volatile Main Memory"
TODO: This is a placeholder

I have recently seen a couple of ANU students, that are close to top of the class, doing research into full-text indexing on Non-Volatile Main Memory (https://cecs.anu.edu.au/research/student-research-projects/improving-search-engine-efficiency-emerging-memory-and-storage, https://www.intel.com.au/content/www/au/en/products/details/memory-storage/optane-memory.html) -

[2022-07-14 18:02] pheyvaer commented on #13
This might be useful for this challenge https://docs.inrupt.com/ess/latest/services/service-application-registration/?highlight=session#app-registration-config

[2022-07-23 11:55] jeswr opened #55 "Record POD history and allow restoration to historical state"
## Pitch

Allow the user to go "whoops - I didn't mean to do that" and revert to a previous state.

## Desired solution

Rather than update queries just overriding data; there should be a well maintained history of the data; and metadata around how made the changes and when.

## Acceptance criteria

There are two things that I would want for this to be considered working successfully
 - For apps t

[2022-07-28 05:17] pheyvaer commented on #30
We are working on the app at https://github.com/KNowledgeOnWebScale/solid-app-store/
The first version should be ready by 2022-08-05.

[2022-07-28 09:09] j-steinbach commented on #7
## Status Update

Last week was the Gentse Feesten, so not much work going on :sweat_smile:

This week we met and talked about the project plans, goals and constraints. We started discussing the markup of the todo-items and which features we should integrate into the app first, so that everyone can work on their tasks. There was much discussion about the sharing and assigning of todo-items, and we

[2022-07-28 13:11] rubensworks commented on #31
### Status update

@Sindhu-Vasireddy and I had an initial brainstorm meeting yesterday. She'll do an exploratory search on the required software now.

[2022-08-02 09:25] bjdmeest opened #56 "Give access to multiple views of my data in one Solid pod"
Give access to multiple views of my data in one Solid pod

## Pitch

Your Solid pod contains your personal data. Some views of that data you want to share with specific agents, but not all of your data,
e.g. "I want to share my age with an application, but not my birthdate".

## Desired solution

- Encode the rules for arriving at a specific view in a declarative way.
- Publish separately accessib

[2022-08-02 10:02] pheyvaer commented on #51
@ajuvercr Did you already have a chance to look into making the requested changes?

[2022-08-02 10:02] pheyvaer commented on #52
@ajuvercr Did you already have a chance to look into making the requested changes?

[2022-08-02 10:02] pheyvaer commented on #50
@ajuvercr Did you already have a chance to look into making the requested changes?

[2022-08-02 10:50] rubensworks commented on #56
I'm also interested in how this would impact querying. E.g., if a query engine discovers these two files, how should it determine to only use one of them for determining query results?

(Happy to create a separate challenge for this if that's out of scope for this one)

[2022-08-02 11:03] pheyvaer commented on #47
@s-minoo Did you have the chance to look into making the necessary changes?

[2022-08-02 11:03] pheyvaer commented on #38
@RubenVerborgh Did you have the chance to look into making the necessary changes?

[2022-08-02 11:04] pheyvaer commented on #37
@RubenVerborgh What changes do you want to see here?

[2022-08-02 11:04] pheyvaer commented on #35
@jeswr Did you have the chance to look into making the necessary changes?

[2022-08-02 11:10] pheyvaer commented on #34
@Falx Did you have the chance to look into making the necessary changes?

[2022-08-02 11:10] pheyvaer commented on #33
@jeswr Did you have the chance to look into making the necessary changes?

[2022-08-02 11:10] pheyvaer commented on #29
@jeswr Did you have the chance to look into making the necessary changes?

[2022-08-02 11:10] pheyvaer commented on #28
@RubenVerborgh Did you have the chance to look into making the necessary changes?

[2022-08-02 11:10] pheyvaer commented on #27
@pietercolpaert Did you have the chance to look into making the necessary changes?

[2022-08-02 11:14] pheyvaer commented on #26
@MisterTimn Did you have the chance to look into making the necessary changes?

[2022-08-02 11:14] pheyvaer commented on #25
@pbonte Did you have the chance to look into making the necessary changes?

[2022-08-02 11:14] pheyvaer commented on #24
@pbonte @fongenae Did you have the chance to look into making the necessary changes?

[2022-08-02 11:15] pheyvaer commented on #23
@RubenVerborgh What are the changes that you would like to see here?

[2022-08-02 11:15] pheyvaer commented on #22
@RubenVerborgh What changes would you like to see here?

[2022-08-02 11:15] pheyvaer commented on #21
@RubenVerborgh What changes would you like to see here?

[2022-08-02 11:19] pheyvaer commented on #17
@s-minoo Did you have the chance to look into making the necessary changes?

[2022-08-02 11:28] pietercolpaert commented on #27
I still wonder whether we’d rather call this a `design issue` then and document it elsewhere. For me #10 remains the concrete demo there.

[2022-08-02 11:30] pheyvaer commented on #14
@pbonte Can you make the extra challenges as mentioned earlier?

[2022-08-02 11:31] pheyvaer commented on #16
@RubenVerborgh What should be changed/added according to you?

[2022-08-02 11:31] pheyvaer commented on #15
@pbonte @fongenae @jeswr Did you have the chance to look into making the necessary changes?

[2022-08-02 11:33] pheyvaer commented on #27
@RubenVerborgh What should we do with this? You said to keep the text, but does that mean that no changes are needed anymore?

[2022-08-02 11:33] bjdmeest commented on #56
I think that belongs in a separate challenge, otherwise we'll never make the ''roughly in 3 months buildable'' cut :)

[2022-08-02 11:37] pheyvaer commented on #2
@RubenVerborgh How is it going with your calendar setup and integrating it with KNoodle.
@bjdmeest I think for that we need to have the browser plugin to fetch data from a pod and inject data in the current Web page to think the Doodle boxes, no?

[2022-08-02 11:55] bjdmeest commented on #2
@pheyvaer yeah indeed, sounds about right

[2022-08-02 15:47] rubensworks commented on #56
Ok, a follow-up challenge then :-)

[2022-08-02 22:19] RubenVerborgh commented on #21
I would need a concrete use case. I understand that a proof checker is generic, but we should set a concrete goal for a proof that we should be able to check.

[2022-08-02 22:19] RubenVerborgh commented on #22
We'd need a concrete case that should work (to estimate the complexity of the dialog).

[2022-08-02 22:20] RubenVerborgh commented on #23
@pheyvaer I actually revised this again, and we're good to go.

[2022-08-02 22:21] RubenVerborgh commented on #37
For one of the cases to be fully fleshed out (or two cases, but then it would likely be a separate challenge).

[2022-08-02 22:35] RubenVerborgh opened #57 "Trusted query and reasoning over permissioned versioned data"
## Actors/actresses
- Application Power User U

## Preconditions
- The user U is logged in
- There are 5 pods, one of which belongs to U
- The other 4 pods belong to friends of U, which are linked to from U's profile document
- Each of the 5 Pods contain 10 `foaf:Person` instances that are readable by U
- Each of the 4 other pods also contain 5 additional `foaf:Person` instances not readable by U

[2022-08-02 22:49] RubenVerborgh opened #58 "Query schema:Person from pods containing foaf:Person"
## Pitch
A group of friends store `foaf:Person` data in their pods. One of the friends issues a SPARQL query for `schema:Person` and wants to find all people data in the network. They trust that the resulting list of people is correct and complete.

## Desired solution
- A two-phase solution involving a query engine collaborating with a reasoner:
  1. A generic, ontology-based mechanism for the qu

[2022-08-02 22:54] RubenVerborgh opened #59 "Generate a proof over versioned person data"
## Pitch
We want proofs that point to versioned data, such that we can trust past decisions. We apply this to the use case of an office pod listing the current locations of a group of employees, which changes every day.

## Desired solution
- An integration of N3 proofs and an LDES-versioned collection with version-specific URIs.

## Acceptance criteria
- There is one pod describing 500 employees,

[2022-08-02 22:54] josd commented on #21
Could be something similar to https://www.w3.org/2006/09dc-aus/swpf#(3)

-- https://josd.github.io

On Wed, Aug 3, 2022 at 12:19 AM Ruben Verborgh ***@***.***>
wrote:

[2022-08-03 05:03] rubensworks commented on #58
Related to #42. (underlying solution could solve both challenges)

[2022-08-03 05:12] pheyvaer commented on #58
@rubensworks Does that mean that you can a separate challenge that covers the "core" problem?

[2022-08-03 05:14] pheyvaer commented on #23
@RubenVerborgh Ok, great!
@wvdemeer Seeing that you are assigned to this, are you working on this at the moment?

[2022-08-03 05:32] wvdemeer commented on #23
Currently I'm caught up in some other stuff, but I'm itching to get back into this soon.

A lot of work was done already, a lot of the sub parts required for this actually already work now. The big todo now, is to make it easily configurable and usable by anyone but me. I know how I'm going to do that, it's now "just a matter of writing the code" ;-)

[2022-08-03 06:27] rubensworks commented on #58
Yes, will look into that later.

[2022-08-03 08:15] jeswr commented on #35
Still in the process of properly figuring out the exact requirements for this challenge.

One alternative that addresses many of the same issues that I discussed with @RubenVerborgh last week was adding a read hook to Pod pods so that it is easier for a 3rd party agents like orchestrators to also observe when data is being read and act/intercept then (for instance to intercept the retrieval and ad

[2022-08-03 08:48] jeswr opened #60 "Declarative Description of Reasoner Built-Ins via the function ontology"
This is a longer term reasoning iterop issue to handle complex reasoning use cases. It will also become a security challenge to implement for production environments after a research prototype is produced. For these reasons I suggest this issue is given a low priority for now.

## Pitch

In order to do more expressive operations, reasoners often require built-ins. However, built-ins are often tied

[2022-08-03 09:01] jeswr opened #61 "Extend SWAP/reason proof concepts to declare notions of trust"
This is another future problem around trust - but parts of this may be required in addressing https://github.com/SolidLabResearch/Challenges/issues/57.

## Pitch

Currently the only subClasses of a proof (https://www.w3.org/2000/10/swap/reason#Step)[Step] defined in https://www.w3.org/2000/10/swap/reason are:
 - Extraction
 - Parsing
 - Conjuntion
 - Proof

These make the assumption of data being

[2022-08-03 09:07] josd commented on #60
The plan of the W3C N3 Community Group is to specify a core set of built-ins https://w3c.github.io/N3/files/builtin_spec.html
We looked at FNO but it did not make it.

[2022-08-03 09:09] jeswr commented on #60
Is there a discussion thread somewhere I can look at to see what lead to that decision

[2022-08-03 09:20] josd commented on #60
Yes there is in https://docs.google.com/document/d/1A3HAUhjaVnnJ6yVbFAvIBRJQjUY9aFlQ2_bGxkD0mnE/edit#
[code]

[2022-08-03 09:52] ajuvercr commented on #50
A demo could be a pipeline that ingests gpx data and creates an eventsource from this data (as time-based versioned LDES).

Concretely the user posts a gpx file to a server running the pipeline and the solid server.
The pipeline ingests this data and creates with RML linked data which is then transformed into a time-based versioned LDES on the users solid pod.

If this can be done the challenge is

[2022-08-03 09:55] pheyvaer commented on #50
@RubenVerborgh What do you think? I see that this issue is marked as a scenario and not a challenge though.

[2022-08-03 09:55] ajuvercr commented on #52
This is the same suggested demo as #50 because that pipeline requires these default processors.

[2022-08-03 09:57] ajuvercr commented on #51
It is difficult to give a demo about an ontology. On the other hand challenges like #50 require this challenge, which makes this challenge not really a SolidLabs Challege?

[2022-08-03 11:59] pheyvaer commented on #51
Yeah fair point. @RubenVerborgh What do you think?

[2022-08-03 19:46] RubenVerborgh commented on #50
I'd need a real highly concrete use case. Like: we will ingest a person's location history, or we will ingest 1000-measurement/s sensor data.

[2022-08-03 19:50] RubenVerborgh commented on #51
I think there should be one or a couple of example workflows that can be described by (version 1 of) this ontology; this will give us an idea of what the ontology requires.

So basically, I am looking for any reasonable/representative workflow that, if the ontology can describe it, we can call the ontology a success.

[2022-08-03 20:16] RubenVerborgh commented on #60
@bjdmeest?

[2022-08-03 20:23] RubenVerborgh commented on #61
Related: #58/#59.

I think existing PROV notions could be used and attached to proof statements.

[2022-08-03 21:58] RubenVerborgh commented on #55
Sounds good; needs to be applied to a concrete use case, but I think that's straightforward in this case.

[2022-08-04 07:42] MisterTimn commented on #26
Not yet, will have to take some time to further investigate and experiment with it before I can properly define a concrete use case and demo

[2022-08-04 08:18] bjdmeest commented on #60
There has been some renewed interest in this, I'm following up in the mailing list https://lists.w3.org/Archives/Public/public-n3-dev/2022Aug/0002.html

[2022-08-04 11:53] s-minoo commented on #17
This one has evolved into #47 where there's also a need of I/O alignment.
#51 will contain the ontologies to align the I/O interfaces.

[2022-08-04 11:54] s-minoo commented on #47
This challenge has been split up into 3 smaller challenges #50 #51 #52.
Is it okay if I just refer to them?

[2022-08-04 12:40] RubenVerborgh commented on #47
That's okay! We can update the description and/or close this one then.

[2022-08-04 13:51] pheyvaer commented on #17
Does that mean that this one is no longer needed?

[2022-08-05 09:51] #17 closed

[2022-08-05 13:25] ThisIsMissEm commented on #43
Now that the Solid Protocol specification has a Storage Description interface, is this still something orthogonal / separate, or would these all just be predicates in that document? https://solidproject.org/ED/protocol#server-storage-description

[2022-08-06 20:17] RubenVerborgh commented on #1
Here's an existing app that was built using shapes: https://forum.solidproject.org/t/photo-album-app/5260/7
Might be interesting as inspiration.

[2022-08-08 07:48] Falx commented on #34
Sorry, this is not a priority right now. This was noted down as a challenge when we were still looking for useful work to do. But now that we've been fully engaged with the CSS development, this has shifted down in priority. So nothing has been done for this yet.

[2022-08-08 10:09] jeswr commented on #43
This is largely orthogonal to the terms defined in that document. The goal of the Universal Service Description would be to provide a fine-grained description of the capabilities that different Solid/Semantic Web 'API's offer both on Solid servers, and in other services such as aggregators etc.

On the other hand the document server-storage-description largely refers to describing the _location_ o

[2022-08-08 13:10] ThisIsMissEm commented on #43
@jeswr from my understanding, the server-storage-description will be augmented by other parts of the solid specs, so for instance, notifications would use that document to say where the notification server for that storage server is, same could be true for Authorization (ACP/ACRs), other query endpoints, etc.

[2022-08-09 08:54] pbonte commented on #15
@pheyvaer updated the text and made it more concrete. Let me know if any changes are still required.

[2022-08-09 08:54] pbonte commented on #16
@pheyvaer updated the text and made it more concrete. Let me know if any changes are still required.

[2022-08-09 08:57] pheyvaer commented on #16
Looks good to me! @RubenVerborgh Is this also good for you?

[2022-08-09 09:09] pheyvaer commented on #15
Looks good to me, but what is the difference with #1?

[2022-08-09 09:16] pbonte commented on #15
This one is specifically for the reasoning part on schema level, while the other one is more on document layout

[2022-08-09 09:24] pheyvaer commented on #15
I see. #1 says in the acceptance criteria that "The logic for reading chats should be in a separate library/component that can be used by others". Is that then this challenge? Or in other words, this challenge is a subchallenge of #1?

[2022-08-09 09:26] josd commented on #58
@jeswr there is a very rough initial prototype at https://josd.github.io/eyebrow/cha58.html
and it is using the data from https://github.com/josd/eye/tree/master/reasoning/cha58
reasoning and proof construction happens in the browser and the following shows why you could trust it ;-)
[code]

[2022-08-09 10:13] jeswr commented on #58
@josd this is a great start - on the proof side I think the next step is to work out how to include versioning in the solution.

Orthogonally I will continue to properly look into hooking this into Comunica this evening so we can have a working prototype with query (I've been a bit side-tracked with other tasks this morning).

[2022-08-09 21:17] RubenVerborgh commented on #58
Very cool; I'll just add my own notes below, as clarifications for myself and others who might stumble upon this thread.

### Data
The example has as data in https://josd.github.io/eye/reasoning/cha58/cha58-data.n3:

[code]

The above is Turtle-star notation, such that `{| … |}` is an annotation on the triple; so it _asserts_ the triple (i.e., `:johnD a foaf:Person`) and it also adds a note (in th

[2022-08-09 21:26] RubenVerborgh commented on #16
Good stuff, I like it. Thanks @pbonte and @pheyvaer!

[2022-08-10 09:50] pheyvaer commented on #42
@RubenVerborgh Why is this challenge related to security?

[2022-08-10 12:06] pheyvaer commented on #30
The [code](https://github.com/KNowledgeOnWebScale/solid-app-store/) of first version of our app store is ready. You can try a [demo version](https://solid-app-store.netlify.app/) to test it out yourself. There are also [shapes](https://github.com/KNowledgeOnWebScale/solid-app-store#how-to-add-app-to-store) for how information about the apps should be published. Users can search for apps based on a

[2022-08-10 21:17] RubenVerborgh commented on #42
@pheyvaer This is about the trust that the HTTP and HTTPS versions of a given document (ontology) are the same.

[2022-08-11 11:41] josd commented on #58
Yes indeed, it is logically sufficient to have `{?X a foaf:Person} => {?X a schema:Person}.` but we wanted to make it a **pragmatic** rule with more additional explicit assumptions that are in the proof explanation.

[2022-08-11 11:45] josd commented on #58
Very much indeed, the rule generating the query would look like `{ ?c owl:equivalentClass ?d } => {{ ?x a ?c } => { ?x a ?d }}.`

[2022-08-11 21:08] RubenVerborgh commented on #58
Hah, perfect, if only we had had RDF-star when we were doing RESTdesc!

[2022-08-11 21:26] josd commented on #58
What can happen will happen, call it RESTdesc-star 🐶

[2022-08-13 09:27] j-steinbach commented on #7
# Status Update

Vidya and I were attending the Summer School this week, but we are progressing towards a first prototype (https://github.com/VidyashreeTarikereUgent/solid-todo/milestone/1). These are the current tasks:

- https://github.com/VidyashreeTarikereUgent/solid-todo/issues/12
- https://github.com/VidyashreeTarikereUgent/solid-todo/issues/10
- https://github.com/VidyashreeTarikereUgent/so

[2022-08-13 20:58] jeswr commented on #58
@josd and I had a good discussion about this yesterday. From that I am going to forge ahead with plugging Eye in as a reasoning engine to Comunica (which I made a large amount of progress with today, and am close to completion).

After this point I would consider the challenge to be pretty well completed.

--

From there the steps are:

@jeswr:
 - Continue work on RDF-star support for Comunica so

[2022-08-14 05:42] rubensworks commented on #58
I assume this will fit into the reasoning bus you've created before?

Could probably do a very similar thing to: https://github.com/comunica/comunica-feature-link-traversal/tree/master/packages/actor-rdf-resolve-hypermedia-links-traverse-annotate-source-graph

If relevant, we may want to consider moving the graph and RDF* actors into base Comunica.

[2022-08-14 11:09] josd commented on #58
The latest release of eye https://github.com/josd/eye/releases/tag/v22.0814.1056 should support all of that
For an example see https://github.com/josd/eye/blob/master/reasoning/socrates/socrates-proof.n3 which is
a proof generated using https://github.com/josd/eye/blob/master/reasoning/socrates/socrates.n3. The latter is containing N3-star annotations of triple/rule sources. The proof checker is a

[2022-08-14 11:39] jeswr commented on #58
Yes, just with a small addition of adding an N3Store to the context where proofs can be placed.

[2022-08-16 13:18] j-steinbach opened #62 "Drag and Drop files between Solid pods and/or the local file-system (FS)"
## Pitch

- It is cumbersome to upload/download/transfer files between pods, the local FS and applications
     - There also exists a barrier of entry here: My mom wont use Bashlib to update her profile picture :)
- Users expect to be able to drag&drop files from/to folders and applications
     - This is how it is done in the different OS' like Windows, Linux, Mac, Android
     - This is also how

[2022-08-16 16:49] jeswr commented on #2
This came up when I was talking to the ewada team today about the Calendar app that they are working on. Currently they are using the [solid calendar store](https://github.com/KNowledgeOnWebScale/solid-calendar-store) but this means that:
a) the app will not work on an aribtrary solid pod, and
b) that they cannot define the calendars they want to import from the app.

Is there a way of using orche

[2022-08-17 08:32] pheyvaer commented on #2
These are valid remarks!

a) The next step would indeed be to let this happen by an orchestrator: the orchestrator reads the calendar data from the original location (for example, Google Calendar) and stores in the user's pod using only methods that are Solid-compatible so it works with every Solid pod regardless of its implementation.

b) I don't understand what you mean with that. Can you maybe

[2022-08-17 17:47] jeswr commented on #2
Users should have an interface within their calendar application where they can add/remove those 3rd party calendars which they want to import into their 'solid calendar'. In order to do this, the application needs to be able to control the file which declares those 3rd party calendars they want to integrate.

This is currently not possible as the 3rd party calendars are part of the components.js

[2022-08-17 17:53] pheyvaer commented on #2
I got it now. If we go with an orchestrator, then the burden of configuring that would also move to that orchestrator. So the orchestrator probably needs an app then to configure it.

[2022-08-17 18:43] angelo-v commented on #31
I have [rhasspy](https://rhasspy.readthedocs.io/) running at home, it should not be too complicated to write a skill for it accessing a Solid Pod to read some data and output a response. I [have coded some skills](https://github.com/angelo-v/rhasspy-skills), but nothing solid related yet.

[2022-08-18 16:36] RubenVerborgh opened #63 "A browser extension to read and write annotations on any webpage"
## Pitch
I go to a random webpage and **BAM 💥** I see the comments that my friends have left on there. I can add comments too, and decide who can see them. Because they are just stored in my Solid Pod.

## Desired solution
Basically
[code]
in which `a_trusted_set_of_pods` can be a list of my FOAF friends, but also take comments from one or more trusted comment hubs.

## Acceptance criteria
- I ins

[2022-08-18 18:47] pheyvaer commented on #63
Considering that dokieli says

What does this challenge add?

[2022-08-18 19:41] jeswr commented on #63
Dokeli lets you edit articles that you or your collaborators own; and the article is stored in your POD. If I understand correctly in this challenge you should be able to annotate and comment on *any webpage on the internet*.

[2022-08-19 04:12] phochste commented on #63
Annotating the web has a long [history](https://devopedia.org/web-annotation). There have been and still are many solutions and plugins to feed these solutions. Robert Sanderson created the [Web Annotation](https://www.w3.org/TR/annotation-model/) data model to express annotations in RDF. Javascript libraries such as [Annotator](http://annotatorjs.org) can create annotation based on the DOM model

[2022-08-19 05:59] pheyvaer commented on #63
@jeswr The website says "Annotate, reply to and share articles. Let your readers choose where to store their annotations."
Here is a video about that https://dokie.li/#annotate and there the user logs in with their WebID and so on.

[2022-08-19 07:07] phochste commented on #63
@pheyvaer dokieli has the spirit to be able to personal annotate any website and store the results in a Solid pod (I can't see the annotations of others).

You need the Chrome plugin version to annotate webpages that don't have injected the dokieli javascript. The plugin version I didn't get to work (there are authentication issues).

There is an option to extend dokieli with social annotation fea

[2022-08-19 09:26] RubenVerborgh commented on #63
Also the custom view, that I see annotations that are relevant/trusted for me.

[2022-08-19 12:24] pheyvaer commented on #4
@Sindhu-Vasireddy What is the status of this challenge?

[2022-08-19 14:33] Sindhu-Vasireddy commented on #4
https://github.com/Sindhu-Vasireddy/SolidLoginGreeter is deployed at https://sindhu-vasireddy.github.io/SolidLoginGreeter/ as a demo for this challenge

[2022-08-19 14:33] Sindhu-Vasireddy commented on #5
https://github.com/Sindhu-Vasireddy/SolidLoginGreeter is deployed at https://sindhu-vasireddy.github.io/SolidLoginGreeter/ as a demo for this challenge

[2022-08-19 15:05] RubenVerborgh commented on #5
Great! Let's continue the discussion in #4 and get that one closed, then we'll proceed to this one, which is the full scenario.

[2022-08-19 15:10] RubenVerborgh commented on #4
Great, we're off to a good start!

Now I propose to specifically zoom in on this bit:

This it not fully reflected in https://github.com/Sindhu-Vasireddy/SolidLoginGreeter/blob/5b73ebea3775a6c84964c229d061fde3c16d3a5d/main.js#L116-L141 yet

And let's also implement this in a configurable way. So basically, that there is a declarative file in which I can state those preferences, something like this

[2022-08-22 06:00] pheyvaer commented on #10
@Sindhu-Vasireddy @pietercolpaert What is the status of this challenge?

[2022-08-22 06:02] pheyvaer commented on #19
@phochste What is the status of this challenge?

[2022-08-22 08:24] pheyvaer commented on #63
@RubenVerborgh Considering we had some issues before with authentication in browser plugin, would it be ok that we create another challenge where all annotations are public so that you authentication is not needed. This new challenge is then a subchallenge of this one.

[2022-08-22 08:46] phochste commented on #63
@RubenVerborgh we had an internal discussion about this challenge. The most interesting case for us it the way how annotations (in whatever way that are generated) can be shared and made visible via a plugin/app/app+plugin to users visiting a website. This is very much inline with the [Collector](https://mellonscholarlycommunication.github.io/spec-collector/) and Scholarly Browser from the Mellon

[2022-08-22 08:50] RubenVerborgh commented on #63
Yes; that is fine.

Perfect; please go ahead!

[2022-08-22 08:51] RubenVerborgh commented on #63
(Maybe this challenge could be transformed into a scenario then.)

[2022-08-22 09:27] phochste commented on #19
- Iben Smessaert will be working for two weeks on this challenge
    - His main focus will be to create a drag&drop environment to create RDF forms definitions (to be decided which vocabulary will be used)
    - He will create this RDF form generator as a separate app to prove this challenge support a decentralized setup where the RDF form generation, RDF form input, RDF data, RDF Form, RDF storag

[2022-08-22 11:42] Sindhu-Vasireddy commented on #10
Status Update: https://github.com/Sindhu-Vasireddy/LocationHistory meets all the functionalities of the acceptance criteria with a basic UI. However we are yet to decide the best strategy for exposing the data on the pod, and also the best way to write to the pod that allows for efficient readability for which we have a brainstorming planned with @pietercolpaert and @woutslabbinck tomorrow at De K

[2022-08-22 18:24] pheyvaer commented on #10
Does that mean that we can check if this challenge is completed?

[2022-08-23 05:16] pheyvaer commented on #30
@RubenVerborgh Did you already have the chance to check if this one is completed?

[2022-08-23 05:41] pheyvaer commented on #13
This would already be a great start https://communitysolidserver.github.io/CommunitySolidServer/5.x/usage/client-credentials/

[2022-08-23 05:48] pheyvaer commented on #44
@RubenVerborgh Would it make sense to make an extra challenge that is easier and that is tackled before this one?

- Only consider one WebID at the time.
- Capture all requests from the browser and make them authenticated. The advantage here is that I can go to a protected Webpage without the need of an app to attach a listener.

[2022-08-23 05:54] pheyvaer commented on #19
@phochste Considering the different things you mention, does it make sense to split this up in different challenges?

[2022-08-23 06:46] Sindhu-Vasireddy commented on #10
The extent to which the application is the same as the demo I showed in Digital Vlaandren presentation two months back, after that I have not worked on this challenge, due to the ISWS summer school. Of the acceptance criteria

was to be added by the job student last month, since the core functionality that enables it is available in the code and the app UI was to reflect it. However this is not wo

[2022-08-23 07:30] phochste opened #64 "Drag & drop form builder app to build a basic RDF form definition"
## Pitch

Create a drag & drop _form builder_ application that combines HTML form input fields, and generates an RDF form definition of the created form. This RDF form definition should be stored in a preferred Solid location.

See: https://github.com/SolidLabResearch/Challenges/issues/19 for the use-cases that a related to this challenge.

The basic idea is to start with a Google Forms like inter

[2022-08-23 07:30] phochste commented on #64
Not for myself: add an example of a `book review` form that the Form builder app should be able to support in `rdf-from`, `solid-ui` and `shacl` .

[2022-08-23 07:43] pietercolpaert commented on #10
Maybe I should rework the acceptance criteria here, so we can move the remaining work to a separate challenge to solve them generically. To be discussed in person later today.

Proposal for reworked acceptance criteria:
 *  I want to be able to install an app or go to a webpage on my phone where I log in with my Web ID and it writes my location history
 * A documented data model for location histo

[2022-08-23 07:44] phochste opened #65 "Form render application that can render an RDF-form + RDF data + store it in a pod of choice"
## Pitch

Create a Form render application that can render an RDF form definition that is possible build with the Form builder tool as specified by https://github.com/SolidLabResearch/Challenges/issues/64.

In this app users can in a declarative way point to the RDF definition, RDF data and Solid storage location where data should be serialized.

The app provides a generic rendere of RDF forms. It

[2022-08-23 08:34] pheyvaer opened #66 "A browser extension to read annotations on a scholarly Webpage"
## Pitch

Users go to a Webpage with scholarly information and
they see annotations from themselves and others users.
These annotations are stored in the pods of the respective users.
They are queried when the page is visited and displayed on the appropriate locations on the page.
We assume that the all annotations are public for this challenge.

## Desired solution

[code]

in which `a_trusted_se

[2022-08-23 08:35] pheyvaer commented on #63
I made challenge https://github.com/SolidLabResearch/Challenges/issues/66 and will turn this challenge into a scenario.

[2022-08-23 08:36] pheyvaer commented on #66
Once approved, this challenge will be assigned to @phochste and @Dexagod.

[2022-08-23 08:37] pheyvaer commented on #19
@phochste Looking at the newly created challenges, can we turn this challenge then into a scenario?

[2022-08-23 09:16] RubenVerborgh commented on #65
@phochste Could you add a use case (or a set of use cases), so we can put bounds to this challenge?
Because forms can be very wide (think Doodle for instance with a calendar form component).
Basically, when I see a certain solution, I need to be able to make a yes/no decision based on the scope, and there should be no feature creep.

[2022-08-23 09:16] RubenVerborgh commented on #64
@phochste Cool, and the same could perhaps be applied to https://github.com/SolidLabResearch/Challenges/issues/65?

[2022-08-23 09:45] RubenVerborgh commented on #44
@RubenVerborgh Agreed; could you take that up?
Key is to understand whether or not we can indeed authenticate requests from an extension.

[2022-08-23 11:14] phochste commented on #64
@RubenVerborgh yes, #19 , #64 and #65 are all related, but can (and probably should be) implemented independently just to prove the point.

[2022-08-23 11:25] phochste commented on #19
@pheyvaer done

[2022-08-23 11:27] pheyvaer opened #67 "Browser extension: replace unauthenticated requests with authenticated Solid requests"
## Pitch

A webpage `http://example.com` is only readable by WebID `https://example.com/card#me`.
We have a browser extension that makes authenticated requests using our WebID.
That way, the webpage `http://example.com` doesn't have to be changed to support a Solid login.

## Desired solution

- A browser extension to which I can log in with my WebID.

## Acceptance criteria

- My browser displays

[2022-08-23 11:27] pheyvaer commented on #44
Done at https://github.com/SolidLabResearch/Challenges/issues/67.

[2022-08-23 13:24] phochste commented on #64
See https://github.com/smessie/FormGenerator for first implementation

[2022-08-23 13:42] phochste commented on #64
Sample book review forms in three different ways:

## RDF Form

https://github.com/phochste/solidui2rdfform/blob/main/data/rdfform/book_review.ttl

## Solid-UI

https://github.com/phochste/solidui2rdfform/blob/main/data/solidui/book_review.ttl

## SHACL

https://github.com/phochste/solidui2rdfform/blob/main/data/shacl/book_review.ttl

[2022-08-24 06:50] pbonte commented on #15
@pheyvaer, not really. In #1 it refers to the `logic` for handling different document layouts, while here we specifically focus on aligning the schemas through reasoning. The term `logic` in #1 is (I think) not really related to reasoning but more like the application logic should be modular such that it can be reused.

[2022-08-25 07:13] pheyvaer opened #68 "External service stores calendar in pod"
## Pitch

At the moment it's possible to request a calendar from a CSS instance through the use of a [store](https://github.com/KNowledgeOnWebScale/solid-calendar-store/). But this solution is coupled to the implementation of CSS. A better solution would be to have an external service that reads the original calendar and stores it in a pod using only the methods specified by Solid.

## Desired sol

[2022-08-25 09:58] pheyvaer commented on #64
@phochste Are all the changes done? Can Ruben review it again?

[2022-08-25 10:57] phochste commented on #64
@pheyvaer Yes. I can always add more, but that are specific features requests for one solution.

[2022-08-25 11:06] pheyvaer commented on #64
Sure you can add more, but Ruben requested changes. So my question is: are these changes done, so Ruben can review it again?

[2022-08-25 12:25] phochste commented on #64
@pheyvaer yes

[2022-08-25 21:38] RubenVerborgh commented on #64
My bad for being unclear; I meant that the use case ("add an example of a book review form that the Form builder app should be able to support in rdf-from, solid-ui and shacl") could also be used in those others.

So could we have a use case? Then I can approve.

[2022-08-25 21:40] RubenVerborgh commented on #68
More specifically, can we develop a universal technique (applied to the calendar use case) such that the 3 situations below can be implemented with the same code?
- the calendar is a backend store to the pod
- the calendar is an agent that writes to the pod (optimization: possibly via a read hook)
- the calendar is an agent that has its own store; the pod replies by linking to it

@pietercolpaert

[2022-08-26 00:02] jeswr commented on #68
FWIW I don't see the read hook as just an optimisation in the second case. It is necessary to guarantee consistency between to pod and the calendar whenever an app reads from the pod.

[2022-08-26 09:49] RubenVerborgh commented on #68
Ack. With "an agent that writes to the pod", I meant to say "an agent that writes to the pod _every time there is a change in the backend_". So if my calendar changes 1000 times, but there is only 1 read in that period, there would still be 1000 writes, 999 of which would be unnecessary. So there, read hooks are a bandwidth optimization.

However, that does not account for cases where there is no

[2022-08-26 11:23] jeswr opened #69 "RML mapping as a service"
This is a placeholder

## Pitch

## Desired solution

## Acceptance criteria

## Pointers

## Scenarios

[2022-08-29 05:20] pheyvaer commented on #69
This two things might be relevant: https://prov4itdata.ilabt.imec.be/ and https://rml.io/api/rmlmapper/. @bjdmeest You might also have some ideas about this 😄

[2022-08-29 05:38] jeswr commented on #69
Thanks @pheyvaer! I've added them to the list and will have a proper at them look later :)

[2022-08-29 05:44] pheyvaer commented on #68
@RubenVerborgh Yes, it makes sense to look at other techniques and ideally it can be done with the same code, but for the sake of keeping challenge concise and solvable within 2-3 months I would stick to only one technique: "the calendar is an agent that writes to the pod". The other two techniques and optimizations are then put into separate challenges. What do you think?

[2022-08-29 06:39] bjdmeest commented on #69
Another pointer might be to adapt/extend https://github.com/sevrijss/VirtualPathPlugin to support RML mappings, however, then it's the same problem as #68 points out: this is an extension to the Solid protocol and should probably (also) be possible using an external service. I'm assuming this issue and #68 are blocked by #13

[2022-08-29 07:40] phochste commented on #65
@RubenVerborgh ok added a use-case

[2022-08-29 07:40] phochste commented on #64
@RubenVerborgh ok added a use-case

[2022-08-29 07:55] pheyvaer commented on #69
#68 is not blocked by #13 as we can use Client Credentials in CSS at the moment. It's not spec'd but it's the best we have at the moment and it should work.

[2022-08-29 11:22] j-steinbach commented on #7
We have some form of raw "singleplayer" prototype strewn across different code-bases and are now working on bringing them together. There are two big tasks left, of which we are working on the assigning and sharing of tasks across Solid:

- [x] Login with WebId (at least Inrupt and CSS)
- [x] Query Todo-Items from Pod and display them in the app
- [x] Create new Todo-Items and store them in the po

[2022-08-29 19:50] josd commented on #58
Done quite some improvements in [eye reasoning in the browser](https://github.com/josd/eyebrow) and https://josd.github.io/eyebrow/cha58.html still does reasoning and proof construction in the browser as expected.

[2022-08-30 07:56] pheyvaer opened #70 "Configure external service that stores calendar in pod"
## Pitch

Challenge #68 is about the back-end part of having an external service that stores calendars in a pod. Initially, it will be launched and configure on the command line, but there is also a need for non-tech users to configure this external service. For this we will need a graphical user interface.

## Desired solution

A solution could be a website tied to the back-end service that allow

[2022-08-30 19:20] RubenVerborgh commented on #68
Well, the objective should really be to find 1 method that works for all cases. I'm fine with this challenge only addressing 1 case, but the solution should be generic or it doesn't make sense to pursue it.

[2022-08-31 05:07] pheyvaer commented on #68
Sure, the fact that we use calendar data should be confined to only one part of the code and the rest of the code should ideally be readily available to be reused for other data as well.

[2022-09-02 07:23] pheyvaer commented on #1
@Dexagod @andreipopi What is the status of this challenge?

[2022-09-02 08:24] bjdmeest commented on #68
Adding pointers:

- https://github.com/sevrijss/long_term_auth
- https://github.com/SolidLabResearch/Bashlib

[2022-09-02 08:26] bjdmeest commented on #13
Code pointers:

- https://github.com/sevrijss/long_term_auth
- https://github.com/SolidLabResearch/Bashlib

[2022-09-02 08:45] bjdmeest opened #71 "Get notified when specific parts of my data change aka ""the empty fridge app""
# The empty fridge app

## Pitch

- We can imagine that we can use Solid pods to store any kind of data, i.e., our recently listened songs, our location history, or the contents of our fridge
- For services to run on top of that, we need a notification system that can act on top of those contents, e.g. 'when products X, Y, or Z are lower than y items, notify me that I should go to the store'

## D

[2022-09-02 08:46] RubenVerborgh commented on #35
Also see https://github.com/SolidLabResearch/Challenges/issues/68#issuecomment-1227788813

[2022-09-02 08:51] joachimvh commented on #71
https://solidproject.org/TR/notifications-protocol

[2022-09-02 08:53] pheyvaer commented on #37
@bjdmeest Can you implement the aforementioned changes?

[2022-09-02 08:56] pheyvaer commented on #68
@RubenVerborgh Are changes still needed here?

[2022-09-02 09:20] phochste commented on #71
Or when sending only a notification if something specific happens (or you are user want to notify something in the world about data that has been changed or not changed or just want to say 'hey my fridge is still empty do something about it'): https://www.eventnotifications.net

[2022-09-02 18:49] Sindhu-Vasireddy commented on #10
Update: [Location History](https://github.com/Sindhu-Vasireddy/LocationHistory) git repository has the app prototype that can be checked for the acceptance criteria along with the data model documentation. Additionally all data points are SHACL validated before being put on the pod.
The app is live on https://sindhu-vasireddy.github.io/LocationHistory/

[2022-09-03 15:46] RubenVerborgh commented on #68
Okay for me if the method is portable to other cases.

[2022-09-03 20:20] Sindhu-Vasireddy commented on #4
Update: The user can now specify custom preference rules (and modify the order in default rules as well) to choose which name predicate (using eye reasoner on browser) to consider for the name greeting on the app, there is a [default ruleset](https://github.com/Sindhu-Vasireddy/SolidLoginGreeter/blob/main/PreferenceRules.n3) using foaf and schema vocabulary added to user pod in case the user doesn

[2022-09-05 05:53] pheyvaer commented on #4
@Sindhu-Vasireddy The link https://github.com/Sindhu-Vasireddy/SolidLoginGreeter/blob/main/PreferenceRules.n3 gives a 404 for me.

[2022-09-05 06:07] Sindhu-Vasireddy commented on #4
@pheyvaer I have updated the link now it is in https://github.com/Sindhu-Vasireddy/SolidLoginGreeter/blob/main/public/PreferenceRules.n3. The file was earlier there but I updated the code in the latest commit and forgot to update the link here.

[2022-09-05 15:04] laurensdeb opened #72 "Ensuring Data Integrity & Authenticity in a Solid Pod"
## Pitch
Once data is written into a Solid Pod, it is outside of the control of an authentic data source. For some data in the Pod, the user themselves may be the authentic source, like for their contact information or calendar. However, for other kinds of data like your high school or university diploma's, your driver's license and national identity card, an external party like a government or co

[2022-09-05 15:15] laurensdeb opened #73 "As a graduate I want to be able to share my diploma with my (future) employer"
## Actors/actresses
- The end-user of the application, whom has been awarded a diploma
- The future employer, whom seeks to validate the diploma of their (future) employee
- An educational institution accredited by the Government
- The Government education department

## Preconditions
- The end-user has been awarded a diploma
- The educational institution awarding the diploma has been accredited b

[2022-09-05 15:36] laurensdeb opened #74 "Enable the linking of new identity providers to a WebID"
## Pitch
Currently, Solid allows a WebID to be linked to [trusted identity providers through the `solid:oidcIssuer` predicate](https://solid.github.io/solid-oidc/#oidc-issuer-discovery). While this approach resolves the validation of security tokens for an authorization server, it does not fix fundamental problems related to user experience of authentication in Solid. Additionally the tight coupli

[2022-09-06 09:21] RubenVerborgh commented on #4
Great work, thanks @Sindhu-Vasireddy!

[2022-09-06 09:21] #4 closed

[2022-09-06 13:16] #10 closed

[2022-09-07 18:37] pheyvaer commented on #70
1) Yes indeed. The token gives full access to the pod.
3) This can work but the problem here is that logging with a WebID requires browser interaction and has to happen very often. This would mean that you somehow have to get that in your service and the owner of the service will spend their days logging.

Personally, I would go for option (1) because if you run the service in a controlled environ

[2022-09-08 11:16] pheyvaer opened #75 "Public CSS instance for testing"
## Pitch
It would be great to have a public CSS instance that can be used for testing. That way developers can quickly make an account to test or demo an application.

## Desired solution
- A public CSS instance.
- Everyone can make an account.
- The instance is reset every 24 hours.
- The instance is initiated, after the reset, with a predefined set of accounts.

## Acceptance criteria
- I can ac

[2022-09-09 08:55] #64 closed

[2022-09-09 08:56] RubenVerborgh commented on #64
See https://github.com/smessie/FormGenerator and https://formgenerator.smessie.com/

[2022-09-09 09:15] phochste commented on #65
See : https://github.com/phochste/FormViewer for implementation

[2022-09-09 09:42] phochste opened #76 "The shape render market : provide a rendering of well known shapes into nice layouts"
## Pitch

A user has a Pod on which she stores data that fits particular shapes *BookReviewShape* , *CVShape* , *RecipeShape*. She wants to choose from a market of applications that can render these shapes according to her preferences.

For instance for her Curriculum Vitae related data on her Pod she is quite picky in what form it is rendered. The *CVShape* expresses what is part of a typical CV.

[2022-09-09 20:04] #65 closed

[2022-09-12 07:45] bjdmeest commented on #37
Yes, implemented!

[2022-09-13 04:54] pheyvaer commented on #47
@s-minoo Can you either close this one or update its description? Thanks!

[2022-09-13 04:56] pheyvaer commented on #21
@josd Can you add a concrete goal as Ruben mentions?

[2022-09-13 04:57] pheyvaer commented on #22
@josd Can you add an concrete use case as Ruben mentions?

[2022-09-13 04:58] pheyvaer commented on #26
@MisterTimn I want to check in to see if you already had the chance to further investigate.

[2022-09-13 05:04] pheyvaer commented on #28
@RubenVerborgh reminder.

[2022-09-13 05:20] pheyvaer commented on #38
@RubenVerborgh reminder.

[2022-09-13 05:21] pheyvaer commented on #48
@NoelDeMartin Can you incorporate the necessary changes mentioned by Ruben? Thanks!

[2022-09-13 05:22] pheyvaer commented on #50
@ajuvercr Can you implement the necessary changes?

[2022-09-13 05:22] pheyvaer commented on #51
@ajuvercr Can you implement the necessary changes?

[2022-09-13 05:24] pheyvaer commented on #52
@ajuvercr The acceptance criteria have to be more concrete. See [here](https://github.com/SolidLabResearch/Challenges/issues/75) for an example.

[2022-09-13 05:25] pheyvaer commented on #51
@ajuvercr Do you think you can add what Ruben suggested?

[2022-09-13 05:50] NoelDeMartin commented on #48
@pheyvaer Yes I had this on my TODO list but I was focusing on other things. I'll get back to it and try to do it sooner, thanks for the ping.

[2022-09-13 08:30] josd commented on #21
So this was intended as a scenario https://github.com/SolidLabResearch/Challenges/issues/21#issue-1184819705 and not as a concrete use case. Proof checking could be applied for https://github.com/SolidLabResearch/Challenges/issues/58

[2022-09-13 08:30] #21 closed

[2022-09-13 08:32] pheyvaer commented on #22
It is marked as a scenario, so that is fine. But a scenario still needs a use case though.

[2022-09-13 08:56] josd commented on #22
As you see in the original description https://github.com/SolidLabResearch/Challenges/issues/22#issue-1185522078 it was really meant as a *test* case scenario and not as a use case scenario.
There is a working test scenario at https://github.com/josd/eye/tree/master/reasoning/dialogical-reasoning

[2022-09-13 18:43] NoelDeMartin commented on #48
Ok, I have updated the issue description including a dataset and specifying the seconds, let me know if something else is missing.

[2022-09-14 07:28] s-minoo commented on #47
Edited and I'll close this too!

[2022-09-14 07:28] #47 closed

[2022-09-14 09:34] MisterTimn commented on #26
No and probably won't be able to any time soon... should I just close the challenge for now?

[2022-09-14 15:16] zimengzhou1 commented on #70
@pheyvaer Willing to take on this challenge!

[2022-09-14 16:15] zimengzhou1 commented on #68
@pheyvaer

[2022-09-15 16:19] RubenVerborgh commented on #70
What about just doing an automated authorized request, following the Solid protocol?
I.e., make the service an agent with a WebID, give permission to that agent.

[2022-09-15 16:19] RubenVerborgh commented on #48
Thanks, @NoelDeMartin!

[2022-09-16 12:54] Dexagod commented on #75
Can we make this instance use the mashlib preset? I think this will be necessary for peope to see what is happening on the pod itself when developing.

[2022-09-16 23:38] josd commented on #58
Now it is working out fine at https://github.com/josd/eye/tree/master/reasoning/cha58 thanks to Blogic and the log:ohyeah supports https://github.com/josd/eye/blob/master/reasoning/cha58/cha58-answer.n3

[2022-09-17 07:43] josd commented on #58
There is an updated prototype using RDF+surfaces for the logic and RDF-star for the explanation at https://github.com/josd/eye/tree/master/reasoning/cha58 and it runs in the browser at https://josd.github.io/eyebrow/cha58.html

[2022-09-18 11:15] andreipopi commented on #1
Dear Pieter,

Probably you have been informed that after the Gentse Feesten I was told by Pieter B. and Pieter C. that I will not stay in the group after October, and that I would be free to pursue my next endeavours.

This means that the meeting that was supposed to happen with Ruben D. in order to kick start that challenge never happened, and the challenge remained in the initial state, on which

[2022-09-19 11:05] pheyvaer commented on #75
@Dexagod What is the "mashlib preset"?

[2022-09-19 12:03] joachimvh commented on #75
Configured so it has the mashlib frontend: https://github.com/CommunitySolidServer/Recipes

Would also have to establish what kind of configuration you want for this server due to the different options. E.g., (once it is merged) do you want WebACL or ACP?

[2022-09-19 12:10] pheyvaer commented on #75
Thanks for the link! Regarding things like WebACL and ACP, we have multiple instances with different options and then people can pick what they want.

[2022-09-19 12:26] pheyvaer commented on #70
One of the goals with the challenge is to see how a service can act as a given WebID. That way you can give a person's WebID access to a resource, use a service to act on behave of that person without having to know about the service doing it. For example, I can give a give a person write access to a resource on my pod, but I don't care what service or app they use to write. Giving a service write

[2022-09-19 12:29] #26 closed

[2022-09-19 13:23] Dexagod commented on #75
I'd also try to include stuff like inbox + links, type indexes, ... as default in the template for the pods.
I would like such a preset for when I have webdev course so students can work with these things without having to set them up themselves.

[2022-09-19 13:26] pheyvaer commented on #75
@Dexagod Make sense. We can have a default pod for each group in the course then for example. This challenge should allow us to configure this easily.

[2022-09-19 15:40] renyuneyun commented on #68
Comment as required to allow mentioning me :)

[2022-09-19 18:01] RubenVerborgh commented on #75
Or maybe choose to _not_ have Mashlib actually; so people get used to the decoupled view (and get to distinguish between what is Mashlib and what is Solid).

Because it is possible to use it as an external app: https://solidos.github.io/mashlib/dist/browse.html?uri=https%3A%2F%2Fdrive.verborgh.org%2F

Side-note: we need to have a Mashlib alternative, perhaps if we just patch up Penny. In the good

[2022-09-19 18:56] RubenVerborgh commented on #70
@pheyvaer Perhaps the "on behalf of" would be a good subchallenge?
Because this challenge can be satisfied by assuming a service-specific WebID.

[2022-09-19 18:59] RubenVerborgh commented on #70
@pheyvaer Perhaps the "on behalf of" would be a good subchallenge?
Because this challenge can be satisfied by assuming a service-specific WebID.

[2022-09-19 20:03] RubenVerborgh commented on #58
Seems like the reasoning part is working indeed! Can I see an end-to-end demo of this somewhere?
Perhaps there should be as small separate repository where I enter the SPARQL query for schema:Person and then get foaf:Person back?

[2022-09-19 20:36] josd commented on #58
Right and if I remember well from our last review meeting, this is exactly what @jeswr mentioned and would take him a few hours?!

[2022-09-20 06:12] pheyvaer commented on #70
I've updated the acceptance criteria of this challenge.

[2022-09-20 06:18] pheyvaer commented on #70
FYI this issue is about how you configure the service. How the service actually works (including the access part) is challenge #68

[2022-09-20 12:48] pheyvaer commented on #72
@RubenVerborgh Shouldn't this challenge have criteria?

[2022-09-20 13:58] pheyvaer commented on #72
Ok. @laurensdeb For completeness sake, can you add the criteria in this challenge as well? Thanks!

[2022-09-20 14:24] laurensdeb commented on #72
@pheyvaer I will be adding these, probably towards the end of this week.

[2022-09-20 20:28] RubenVerborgh commented on #30
Looking really good, thanks a bunch!

What I'd still like is that different data sources can be plugged into the app; it's good as a general principle on Solid apps. But that's more than okay for now!

[2022-09-22 09:38] rubensworks opened #77 "Type index consolidation service"
## Pitch

The [Solid type index](https://solid.github.io/type-indexes/) improves data discovery within pods.
However, since client-side apps are expected to update these indexes whenever they add or update data,
this can lead to data inconsistencies or incomplete type indexes.
This challenge aims to tackle this problem by having an external agent that can periodically crawl your pod and update you

[2022-09-22 09:50] pheyvaer commented on #77
This challenge will be able to built upon the results of https://github.com/SolidLabResearch/Challenges/issues/68 and https://github.com/SolidLabResearch/Challenges/issues/70.

[2022-09-23 09:50] pheyvaer commented on #15
@RubenVerborgh Can this challenge be approved or those something still need to change?

[2022-09-26 09:08] rubensworks commented on #7
As discussed during the call on 26/09/2022, we will branch the following elements of this challenge off to a separate challenge:

- To do lists can be shared with other people
- Users can assign to do's to other people

[2022-09-26 11:19] pheyvaer commented on #7
Actions from this specific call:

- @surilindur Keep track of features for LDflex.
- @j-steinbach Create initial idea for organization layer.

[2022-09-26 14:56] twalcari commented on #75
A CSS instance is now live on https://pod.playground.solidlab.be/ . It resets every night at 5AM.

It is seeded by the following file:
[code]

[2022-09-26 17:32] RubenVerborgh commented on #75
That is absolutely great, @twalcari! Thanks!

Does @pheyvaer know how to change the seed file?

[2022-09-26 17:32] #75 closed

[2022-09-29 06:03] rubensworks commented on #31
This challenge is not actively being worked on at the moment.

[2022-10-03 08:23] ajuvercr commented on #50
Added a concrete use case that calculates basic statistics of a strava run, similar to @woutslabbinck work

[2022-10-05 13:23] Sindhu-Vasireddy opened #78 "An extension that abstracts away the complexities of permissioning for resource sharing between users and apps."
## Pitch
The user will not want to be burdened with having to express their complex access control preferences such as time-limited access and access to specific data segments using reasoning rules. The proposal is to build an extension on the server-side that enables this kind of permissioning by abstracting away the specific reasoning implementation from the user.

This challenge is to answer th

[2022-10-11 09:23] pheyvaer commented on #1
@Dexagod What is the status of this?

[2022-10-11 09:23] pheyvaer commented on #2
See #68

[2022-10-11 09:25] pheyvaer commented on #23
@wvdemeer Can you provide a small update here of the status of the platform you are working on?

[2022-10-11 09:25] pheyvaer commented on #58
Based on discussions today, we might be able to complete this challenge this week!

[2022-10-11 09:55] wvdemeer commented on #23
Current status: The testing platform can now run a first decent test, process the data and show the results. It can run multiple of these tests safely, and it can handle most of the minor error cases that can occurs along the way.

Next Steps: Improving and expanding the tests that run, to make sure the results are valid and valuable, and thus that we're testing relevant things.
After that, we'll

[2022-10-11 11:03] pheyvaer commented on #23
Should we create a separate challenge for the "make the entire thing usable by others"? @RubenVerborgh What do you think?

[2022-10-13 15:24] RubenVerborgh commented on #23
Yeah, let's scope challenges as narrowly as possible!

[2022-10-14 15:37] pheyvaer commented on #23
@wvdemeer Can you move the "make the entire thing usable by others" to a new challenge and update the current one to remove that part? Thanks!

[2022-10-15 11:08] woutslabbinck opened #79 "Mobility use case"
## Pitch

From cycling data stored in a Solid pod, create a dashboard that shows aggregated routes from landmark to landmark.
Such a visualisation allows to analyse which routes are taken between those landmarks and provides decision makers a tool to see where new bridges or bigger cycle lanes might have a big impact for cyclers.

## Desired solution

A web application that visualises the routes b

[2022-10-15 11:24] jeswr opened #80 "Edit Pod files in vscode"
## Pitch

The goal of this challenge is to create a vscode extension similar to [remote ssh](https://code.visualstudio.com/docs/remote/ssh) that allows you to edit files on a remote POD as if they were directly on your machine - thus removing the barrier of entry to enabling devs and admins to inspect Pods both for their own understanding of what is there for the own Pedagological gain - and also

[2022-10-17 04:59] jeswr commented on #80
Really wanted this, spent a few hrs on it yesterday. Almost done barring a critical bug around sessions.

[2022-10-17 06:09] wvdemeer opened #81 "Make the automated performance tester configurable by all"
## Pitch
#23 sets up an automated performance test website, which tests each CSS commits.
Configuring everything about these tests can only be done by the developers/admins of the website.
Authorized 3rd parties should be able to configurable and use this as well. And not only for CSS testing, but other software as well.

## Desired solution
A user friendly way to configure and use the automated p

[2022-10-17 06:12] wvdemeer commented on #23
Ok, done in #81 (didn't change this issue, this part of it was not mentioned.)

[2022-10-17 07:26] RubenVerborgh commented on #80
- @Dexagod's https://github.com/SolidLabResearch/Bashlib might help
- We could also mount the Solid Protocol to the filesystem.

[2022-10-17 07:50] pbonte opened #82 "Storing large real-time data streams in data pods using LDES"
## Pitch
Data streams are becoming omnipresent and are a crucial component in many use cases. Storing streams in a low-cost file-based web environment could be done using Linked Data Event Streams ([LDES](https://semiceu.github.io/LinkedDataEventStreams/)). However, pushing large volumes of high volatile data into a SOLID-based LDES is still not possible due to the way [current solution](https://g

[2022-10-17 08:09] pbonte opened #83 "Replaying captured data streams"
## Pitch
As many applications are using data streams, a way to easily replay captured streams is necessary for demoing purposes, scalability testing or data recovery. Replaying allows to mimic the real-time behaviour of data streams, even though the data is historical data. A replayer is a crucial component to showcase how our solutions can process live data streams and how they can handle differe

[2022-10-18 08:42] Dexagod commented on #80
I might be able to make something like this work indeed with the bashlib code.
Currently it already supports the editing of files bij moving it to a /temp folder.
(Though this would need it to be a bit more robust, handle timeouts, re-logging in, etc...)

Although i feel like to make this optimal, supporting the mounting of a solid pod locally would be ideal? Or would that be overkill?

[2022-10-18 08:48] pheyvaer commented on #79
I already see three different challenges here:
1) A web application for the decision maker
2) A web application for a cycler
3) Creating anonymized route aggregations

So this issue is more a scenario instead of a challenge.

[2022-10-18 09:22] jeswr commented on #80
In the case of VScode probably overkill. It has most of the functionality to handle virtual file systems built in and all we need to do is implement the `vscode.FileSystemProvider` interface (see https://github.com/microsoft/vscode-extension-samples/blob/main/fsprovider-sample/src/fileSystemProvider.ts).

I have this working - the primary bug that I was running into is that the authentication sess

[2022-10-18 09:37] Dexagod commented on #80
You can store the session information and reuse it (i do this with bashlib)
Though it's a bit hacky a.t.m.

If you work with Community Solid Server, you can work with Client credentials tokens, and then you don't need to worry about session management that much, as you don't need to do the interactive login step anymore (Inrupt also has some kind of support for this, but that's only for applicatio

[2022-10-18 12:54] RubenVerborgh commented on #77
Thanks @rubensworks. However, I am not convinced that the type index is the way forward, as it clashes with the actual permission structure of Solid. Furthermore, I would definitely see this as a server-provided data structure.

So yes to the idea of this challenge, but perhaps just as a server-side implementation? And the fact that it can be deployed as an agent as optional?

[2022-10-18 13:18] rubensworks commented on #77
If you refer to the public/private distinction, then I guess this is something that can be easily resolved by introducing the ability to expose multiple permissions-based type indexes. I do think the fundamental idea of a type-based index is very promising for (query-based) data discovery, and we have preliminary experimental results to confirm this.

[2022-10-18 13:21] RubenVerborgh commented on #77
@rubensworks I have experimented in the past with (other) indexes for every different agent that has some kind of access to a pod, which is feasible under the assumption that the number of pods is low.

Alternatively, the index could be a server-permissioned resource, where you basically get back what you're allowed to see.

An in any case, if not a type index, we need to figure this out for index

[2022-10-19 09:15] pbonte opened #84 "Streaming Aggregators to realise data summarisation on data streams stored in a Solid environment"
## Pitch
Data streams are becoming omnipresent, however, storing and analysing real-time data streams in a decentralised fashion using solid is still hard to achieve. This is mainly due to the high frequency of changes in the answers to the issued queries on these streams and the temporal validity of the answers.
A first prototype of streaming aggregators is necessary to prepare the answers of a c

[2022-10-19 09:55] pbonte opened #85 "Visualisation of aggregated data using semantic dashboard"
## Pitch
Aggregations and data summaries allow to provide succinct view on larger dataset. However, to be useful for non-technical users, visualisation is needed the easily interpret the summarised data.
Aggregations and summaries from the [DAHCC dataset](https://dahcc.idlab.ugent.be/) will be used for purpose, which contains data streams describing the behaviour of various patients. Specifically,

[2022-10-21 12:36] bjdmeest commented on #83
@s-minoo this feels related to your rmlstreamer benchmark

[2022-10-21 12:46] bjdmeest opened #86 "My authentication level should depend on my authentication method"
My authentication level should depend on my authentication method

## Pitch

In Doccle, some documents you can see with username/password; others require a more secure method.
By allowing a combination of multiple authentication methods (ranging from very 'weak' to very 'strong'),
users can log in with very low threshold and get as much UX as possible, with possible progressive increase of securit

[2022-10-22 08:48] s-minoo commented on #83
Yes! I wrote a [data streamer/replayer](https://github.com/s-minoo/datastreamer-rust) in rust which will consume the historical data, and replay them with workload characteristics: periodic burst, constant rate, etc...

If you want it to apply to this challenge, take a look at two traits of the datastreamer-rust:
1) [Publisher](https://github.com/s-minoo/datastreamer-rust/blob/main/src/publisher.r

[2022-10-22 09:02] s-minoo commented on #84
A few papers that I came across might be relevant to sliding windows aggregations:
1)  [Cutty](https://doi.org/10.1145/2983323.2983807)(2016)
2)  [Scotty](https://doi.org/10.1109/ICDE.2018.00135)(2018)
3)  [General stream slicing](https://www.researchgate.net/publication/332570365_Efficient_Window_Aggregation_with_General_Stream_Slicing)

The author, Jonas Traub, developed the aggregate stream sli

[2022-10-22 12:58] jeswr commented on #80
Draft version available https://marketplace.visualstudio.com/items?itemName=jeswr.solidfs

[2022-10-24 11:02] svrstich commented on #83
Hi, shall certainly have a deeper look into what you've done to see whether it can aligned with the goals of Challenge 82/83.

[2022-11-02 07:12] wvdemeer commented on #23
Current status: The tests that runs are being improved and expanded, including tests of CSS with and without authentication. The aggregation of the data from the test has improved.

Next step: Continue improving and adding tests, making sure the results are valid and relevant CSS development. (+ Debugging and improving the platform along the way.)

[2022-11-07 11:53] svrstich commented on #82
Stream implementation of RDF/JS for loading large datasets is currently in use.

[2022-11-07 11:54] svrstich commented on #83
Loading from pre-configured path currently supported.

[2022-11-07 12:32] wvdemeer commented on #23
Current status: There are some interesting (but preliminary) results, related to authentication and multi-threading.

These results will be investigated and debugged further, and will be discussed further once we're sure enough they show CSS performance and not performance test bugs.

In a meeting this morning it was also mentioned it would be nice to finish this challenge by the end of this year.

[2022-11-08 13:09] pheyvaer opened #87 "Integrate Solid in cal.com"
## Pitch
We have [KNoodle](https://github.com/KNowledgeOnWebScale/knoodle/) to find a slot for meetings based on the availability of people stored in their pods. [Cal.com](https://cal.com/) has the same goal. It would be nice to try and integrate Solid in there. This can show that with data in your pod you can use different apps with the same/similar functionality without the need to change/update

[2022-11-10 12:01] argahsuknesib commented on #84
Aggregation of the data streams generated from a single LDES in LDP solid pod works. Working towards aggregation for multiple different pods.

[2022-11-16 06:50] pheyvaer commented on #67
We are currently checking
- how to build an extension for FireFox
- how to intercept requests
- how to use client credentials in CSS

[2022-11-21 09:45] pheyvaer commented on #76
@phochste Is there an progress on the acceptance criteria for this challenge?

[2022-11-21 10:31] pheyvaer commented on #19
@phochste What needs to be done for this scenario to be complete? The two linked challenge are completed.

[2022-11-22 08:05] phochste commented on #19
I don't know what the criterions are to close a scenario. From a users-perspective I won't call this a solved issue. From a developers perspective, yes, the challenges have status completed.

Maybe we can compare the scenario as a duck hunting season. The season of 2022 is closed.

[2022-11-22 08:08] pheyvaer commented on #19
@phochste Are there challenges that need to be solved? If not then I would consider this scenario done.

[2022-11-22 10:05] pheyvaer commented on #19
@phochste That is not your decision to make 😉

[2022-11-23 12:42] svrstich commented on #83
Loading of large datasets now supported.
Time-based sorting of measurements in large datasets now supported.
One-step replay now supported.

[2022-11-24 06:20] pheyvaer commented on #83
@svrstich Great! What is still missing?

[2022-11-24 13:40] svrstich commented on #83
What's still missing? ;-) Bulk replay, tunable bulk-size replay, tunable speed replay, etc.

[2022-11-25 05:53] pheyvaer commented on #83
@svrstich Do you have a complete list? So that we can assess a bit better what still needs to happen?

[2022-11-27 09:28] argahsuknesib commented on #84
Currently defining an ontology and using websockets to publish the results from the aggregation.

[2022-11-28 09:04] maartyman commented on #24
I'm working on closing this challenge.

[2022-11-28 11:25] svrstich commented on #83
Not really, but we'll be limiting it for the time being to two/three features.

[2022-11-29 10:24] j-steinbach opened #88 "Using HDT (and other 'hybrid' data) on a hybrid Pod"
## Pitch

- The [what's in a pod](https://solidlabresearch.github.io/WhatsInAPod/) vision interprets a Solid pod as a hybrid knowledge graph (KG).
- It is possible to store both raw data/documents and RDF triples
- But what if a document is _both_? E.g. a HDT file is [compressed and serialized RDF data](https://www.rdfhdt.org/what-is-hdt/).
- How is this data to be used? Does it belong to the KG b

[2022-11-29 10:32] rubensworks commented on #88
HDT would definitely be a good match as back-end for certain Solid use cases (mostly for non-write-intensive cases, since HDT doesn't support updates).

Related to this there is the need for being able to expose a query interface at pod-level (or container-level) that could be backed by triple stores such as HDT (https://github.com/SolidLabResearch/Challenges/issues/43). This would remove the requ

[2022-11-29 10:44] j-steinbach commented on #88
(Unrelated, but maybe also interesting: Is it possible to export parts of the KG? Maybe as HDT :))

[2022-11-29 10:47] rubensworks commented on #88
Certainly, such materialized views are really interesting for query optimization.

[2022-11-29 11:41] svrstich commented on #83
We'll stick with some example parameters for now: step-wise and everything. Other use-case specific replay option can be added later on.